.content-blog-seleccion:nth-child(1) {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #EB5757;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #EB5757);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #EB5757);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 30px;
}

.content-blog-seleccion:nth-child(1) div img {
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  position: absolute;
  z-index: 2;
}

.content-blog-seleccion:nth-child(1) div p {
  color: #fff;
  font-family: 'Staatliches', cursive;
  text-shadow: black 0.03em 0.03em 0.04em;
  position: absolute;
  z-index: 2;
  font-size: 3.5vw;
  width: auto;
  text-align: center;
  z-index: 3;
}

/*animación de cards a través de universe*/

.content-blog-seleccion:nth-child(1) div {
  width: 60%;
  min-width: 499px !important;
  height: 550px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  place-content: center;
  place-items: center;
  overflow: hidden;
  z-index: 1;
  top: 10%;
  box-shadow: -3px 3px 3px #222222,
  3px -3px 3px #222222, 3px 3px 3px #222222,
  -3px -3px 3px #222222;
}

.content-blog-seleccion:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 95%;
  padding-top: 100px;
}

.content-blog-seleccion:nth-child(2) p:nth-child(1) {
  font-size: 1.3vw;
  text-shadow: black 0.03em 0.03em 0.05em;
  text-transform: uppercase;
  width: 100%;
  font-weight: 600;
  letter-spacing: 2px;
  color: #253743;
  text-align: justify;
  position: relative;
}

.content-blog-seleccion:nth-child(2) p:nth-child(2) {
  font-size: 1vw;
  text-shadow: black 0.01em 0.01em 0.03em;
  width: 100%;
  text-align: justify;
  color: #253743;
  letter-spacing: 1px;
  font-style: italic;
}

.content-blog-seleccion:nth-child(2) p:nth-child(3) {
  font-size: 1vw;
  width: 100%;
  text-align: justify;
  color: #253743;
}

.content-blog-seleccion:nth-child(2) p:nth-child(1)::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 65%;
  height: 4px;
  background: #253743;
}

.content-blog-seleccion:nth-child(2) p:nth-child(1)::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 65%;
  height: 4px;
  background: #253743;
}

.content-blog-seleccion:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
  padding-bottom: 50px;
}

.content-blog-seleccion:nth-child(3) .div-blog-seleccion {
  height: 400px;
  width: 40%;
  min-width: 400px;
  box-shadow: -4px 4px 2px #222222, 4px -4px 2px #253743;
  overflow: hidden;
}

.content-blog-seleccion:nth-child(3) .div-blog-seleccion img {
  width: 100%;
  height: 100%;
  filter: contrast(1.5);
}

@media (max-width: 1200px){
  .content-blog-seleccion:nth-child(1) {
    height: 500px !important;
  }

  .content-blog-seleccion:nth-child(1) div {
    height: 450px;
    top: 10%;
  }
}

@media (max-width: 1130px){
  .content-blog-seleccion:nth-child(1) {
    height: 450px !important;
    margin-top: 90px;
  }

  .content-blog-seleccion:nth-child(1) div {
    height: 450px;
    top: 7%;
    width: 70%;
  }
}

@media (max-width: 650px) {

  .content-blog-seleccion:nth-child(1) div p {
    font-size: 5.5vw;
  }

  .content-blog-seleccion:nth-child(1) {
    height: 350px !important;
    margin-top: 90px;
  }

  .content-blog-seleccion:nth-child(1) div {
    height: 350px;
    top: 7%;
  }

  .content-blog-seleccion:nth-child(3) .div-blog-seleccion {
    height: 310px;
    min-width: 400px;
  }
  .contenedor-blog-seleccion .content-blog-seleccion:nth-child(2) p:nth-child(1) {
    font-size: 4vw;
  }

  .contenedor-blog-seleccion .content-blog-seleccion:nth-child(2) p:nth-child(2) {
    font-size: 3.5vw;
  }

  .contenedor-blog-seleccion .content-blog-seleccion:nth-child(2) p:nth-child(3) {
    font-size: 3vw;
  }

  .contenedor-blog-seleccion .content-blog-seleccion:nth-child(1) {
    height: 500px;
  }

  .contenedor-blog-seleccion .content-blog-seleccion:nth-child(1) div {
    min-width: 95% !important;
  }
}