
.contenedor-blog-seleccion .imgPortadaBlog{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../imagenes/proyectsandservices/blog/portada-blog-seleccion.jpg");
  background-attachment: fixed;
  background-size: cover;
  filter: saturate(10%);
}

.content-blog-seleccion:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  padding: 20px;
  position: relative;
  background: #000000;
  background: -webkit-linear-gradient(to top, #242424, #000000);
  background: linear-gradient(to top, #242424, #000000);
  opacity: 1;
  border-radius: 10px;
  min-width: 360px;
}

.cambioContent{
  align-self: flex-start !important;
  margin-top: 45px !important;
}

.content-blog-seleccion:nth-child(1) p {
  text-shadow: black 0.03em 0.03em 0.05em;
  width: 100%;
  font-weight: 600;
  color: #fff;
  text-align: center;
  position: relative;
}

.content-blog-seleccion:nth-child(1) p:nth-child(1) {
  position: absolute;
  top: -50px;
  left: -20px;
  width: auto;
  color: #fff;
  background: #093028;
  background: -webkit-linear-gradient(to top, #237A57, #093028);
  background: linear-gradient(to top, #237A57, #093028);
  font-size: 18px;
  padding: 20px 20px;
  border-radius: 7px;
}

.content-blog-seleccion:nth-child(1) p:nth-child(2) {
  font-size: 25px;
}

.content-blog-seleccion:nth-child(1) p:nth-child(3) {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: auto;
  background: #093028;
  background: -webkit-linear-gradient(to top, #237A57, #093028);
  background: linear-gradient(to top, #237A57, #093028);
  font-size: 15px;
  padding: 10px 10px;
  border-radius: 5px;
  color: #fff;
}

.content-blog-seleccion:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: auto;
  gap: 10px;
  background: #000000;
  background: -webkit-linear-gradient(to top, #242424, #000000);
  background: linear-gradient(to top, #242424, #000000);
  border-radius: 10px;
  min-width: 730px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.858);
}

/*Cambio a través de JavaScript*/

.cambioCaracter{
  display: flex;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  width: 35% !important;
  min-width: 450px !important;
}

.content-blog-seleccion:nth-child(2) .div-blog-seleccion {
  height: 300px;
  overflow: hidden;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.content-blog-seleccion:nth-child(2).cambioCaracter .div-blog-seleccion{
  width: 100% !important;
  height: 350px !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
}

.content-blog-seleccion:nth-child(2).cambioCaracter .div-blog-seleccion-contenido{
  width: 100% !important;
}

.content-blog-seleccion:nth-child(2) .div-blog-seleccion img {
  width: 100%;
  height: 100%;
  filter: contrast(1.2);
}

.content-blog-seleccion:nth-child(2) .div-blog-seleccion-contenido {
  height: 95%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.div-blog-seleccion-contenido p:nth-child(1) {
  font-size: 18px;
  text-shadow: black 0.03em 0.03em 0.05em;
  text-transform: uppercase;
  width: 100%;
  font-weight: 600;
  letter-spacing: 2px;
  color: #5da8da;
  text-align: center;
  line-height: 1.5em;
  position: relative;
}

.div-blog-seleccion-contenido p:nth-child(2) {
  font-size: 13px;
  text-align: justify;
  color: #fff;
  line-height: 1.5em;
}

@media (max-width: 1200px) {

  .contenedor-blog-seleccion {
    flex-direction: column!important;
    justify-content: flex-start;
    align-items: center;
    position: relative !important;
    margin-top: 90px;
    padding: 50px;
    padding-top: 90px;
  }

    .imgPortadaBlog{
      top: 0;
    }
}

@media (max-width: 760px){
  .content-blog-seleccion:nth-child(2) {
    flex-direction: column !important;
    align-items: center;
    min-width: 400px;
    width: 70%;
  }
  .content-blog-seleccion:nth-child(2) .div-blog-seleccion {
    height: auto;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .content-blog-seleccion:nth-child(2) .div-blog-seleccion-contenido {
    height: 95%;
    width: 100%;
  }
}

