.content-blog-1,
.content-blog-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 30px;
}

.content-blog-2 {
    margin-top: 90px !important;
}

.content-blog-1 {
    width: 35%;
    padding: 0 0 50px 0;
}

.content-blog-2 {
    width: 65%;
    padding: 0 0 50px 0;
}

/*blog-1 (1)*/

.content-blog-1 .blog-1:nth-child(1) {
    height: 900px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-blog-1 .blog-1:nth-child(1) div {
    height: 70%;
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content-blog-1 .blog-1:nth-child(1) div h1 {
    font-size: 2.5vw;
    color: #fff;
    text-shadow: black 0.08em 0.08em 0.1em;
}

.content-blog-1 .blog-1:nth-child(1) div h2 {
    font-size: 2vw;
    color: #fff;
    text-shadow: black 0.08em 0.08em 0.1em;
    margin-bottom: 20px;
    position: relative;
}

.content-blog-1 .blog-1:nth-child(1) div h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100px;
    height: 4px;
    background: crimson;
}

.content-blog-1 .blog-1:nth-child(1) div a {
    height: 70px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border-left: 12px solid #253743;
    background: rgb(233, 219, 223);
    background: linear-gradient(0deg, rgba(233, 219, 223, 1) 0%, rgba(255, 255, 255, 1) 100%);
    color: #253743;
    font-size: 1.2vw;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    cursor: pointer;
}

/*Marcador de filtro*/

.content-blog-1 .blog-1:nth-child(1) div a.active {
    border-left: 15px solid rgb(168, 24, 53);
}

.content-blog-1 .blog-1:nth-child(1) div a.active .fi {
    color: rgb(168, 24, 53);
}

/*button (a) -estilo-universe*/

.content-blog-1 .blog-1:nth-child(1) div a:hover {
    animation: rotate624 0.7s ease-in-out both;
}

.content-blog-1 .blog-1:nth-child(1) div a:hover span {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

.content-blog-1 .blog-1:nth-child(1) div a:hover img {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate624 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm1261 {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

.content-blog-1 .blog-1:nth-child(1) div a:after {
    background: rgb(185, 176, 176);
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
}

.content-blog-1 .blog-1:nth-child(1) div a:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

/*END*/

.content-blog-1 .blog-1:nth-child(1) div a span {
    margin-left: 20px;
}

.content-blog-1 .blog-1:nth-child(1) div a .fi {
    /*width: 40px;
    margin-right: 20px;*/
    font-size: 45px;
    margin-right: 20px;
}

.content-blog-1 .blog-1:nth-child(1) .img-abs {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    box-shadow: 5px 5px 4px #5a5a5a;
}

/*blog-1 (2)*/

.content-blog-1 .blog-1:nth-child(2) {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-bottom: 3px solid #253743;
}

.content-blog-1 .blog-1:nth-child(2) h1 {
    width: auto;
    font-size: 2vw;
    text-shadow: black 0.03em 0.03em 0.04em;
    color: #253743;
    position: relative;
}

.content-blog-1 .blog-1:nth-child(2) h1::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100px;
    height: 4px;
    background: crimson;
}

.content-blog-1 .blog-1:nth-child(2) .div-posteosR {
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.content-blog-1 .blog-1:nth-child(2) .div-posteosR div:nth-child(1) {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-blog-1 .blog-1:nth-child(2) .div-posteosR div:nth-child(1) img {
    width: 45%;
    border: 1px solid #57595a;
    transition: all .3s ease-in;
}

.content-blog-1 .blog-1:nth-child(2) .div-posteosR div:nth-child(1) img:hover {
    filter: brightness(1.3);
}

.content-blog-1 .blog-1:nth-child(2) .div-posteosR div:nth-child(1) a {
    height: auto;
    width: 55%;
    text-align: justify;
    color: #253743;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    padding: 15px;
    text-decoration: none;
    font-weight: 600;
}

.content-blog-1 .blog-1:nth-child(2) .div-posteosR div:nth-child(2) {
    height: auto;
    width: 100%;
}

.content-blog-1 .blog-1:nth-child(2) .div-posteosR div:nth-child(2) p {
    height: 100%;
    width: 100%;
    text-align: justify;
    color: #253743;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
}

/*blog-1 (3)*/

.content-blog-1 .blog-1:nth-child(3) {
    height: 180px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-blog-1 .blog-1:nth-child(3) h1 {
    width: auto;
    font-size: 2vw;
    text-shadow: black 0.03em 0.03em 0.04em;
    color: #253743;
    position: relative;
}

.content-blog-1 .blog-1:nth-child(3) h1::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100px;
    height: 4px;
    background: crimson;
}

.content-blog-1 .blog-1:nth-child(3) div {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content-blog-1 .blog-1:nth-child(3) div a {
    width: 70px;
    height: 70px;
    font-size: 40px;
    filter: grayscale(1);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in;
}

.content-blog-1 .blog-1:nth-child(3) div a:hover {
    filter: grayscale(0);
    color: var(--color);
    transform: scale(1.2);
}

/*content-blog-2*/

.content-blog-2 .blog-2 {
    padding: 20px;
}

.content-blog-2 .blog-2:nth-child(1) {
    height: 200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.content-blog-2 .blog-2:nth-child(1) div:nth-child(1) {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.content-blog-2 .blog-2:nth-child(1) div:nth-child(1) h1 {
    width: auto;
    font-size: 2vw;
    text-shadow: black 0.03em 0.03em 0.04em;
    color: #253743;
    position: relative;
}

.content-blog-2 .blog-2:nth-child(1) div:nth-child(1) h1::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100px;
    height: 4px;
    background: crimson;
}

.content-blog-2 .blog-2:nth-child(1) div:nth-child(1) a {
    width: auto;
    text-decoration: none;
    text-align: center;
    color: #253743;
    height: auto;
    padding: 1.5vw 2.5vw 1.5vw 2.5vw;
    font-size: 1.2vw;
}

/*Button (a) estilo - universe*/

.content-blog-2 .blog-2:nth-child(1) div:nth-child(1) a {
    --border-color: linear-gradient(-45deg, #3a8f44, #7e0a31, #7e03aa);
    --border-width: 4px;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #222222;
    --color: #fff;
    color: var(--color);
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    border: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
    transition: color 250ms;
}

.content-blog-2 .blog-2:nth-child(1) div:nth-child(1) a::after,
.content-blog-2 .blog-2:nth-child(1) div:nth-child(1) a::before {
    content: '';
    position: absolute;
    inset: 0;
}

.content-blog-2 .blog-2:nth-child(1) div:nth-child(1) a::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
}

@keyframes move-bg7234 {
    0% {
        background-position: 31% 0%
    }

    50% {
        background-position: 70% 100%
    }

    100% {
        background-position: 31% 0%
    }
}

.content-blog-2 .blog-2:nth-child(1) div:nth-child(1) a::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
            /* Top-left */
            var(--border-width) calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) var(--border-width),

            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
}

.content-blog-2 .blog-2:nth-child(1) div:nth-child(1) a:where(:hover, :focus)::after {
    clip-path: polygon(
            /* Top-left */
            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),

            calc(100% - var(--border-width)) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) var(--border-width),

            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),

            /* bottom-right 2 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
    transition: 200ms;
}

.content-blog-2 .blog-2:nth-child(1) div:nth-child(1) a:where(:hover, :focus) {
    color: #fff;
}

/*end*/

.content-blog-2 .blog-2:nth-child(1) div:nth-child(2) {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-blog-2 .blog-2:nth-child(1) div:nth-child(2) form {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.content-blog-2 .blog-2:nth-child(1) div:nth-child(2) form label {
    order: 1;
    font-weight: 600;
    font-size: 18px;
    color: #6d6d6d;
}

.content-blog-2 .blog-2:nth-child(1) div:nth-child(2) form input {
    border-radius: 7px;
    color: #253743;
    background: #fff;
}

.content-blog-2 .blog-2:nth-child(1) div:nth-child(2) form input:nth-child(1) {
    border: 3px solid #304d60;
    width: 70%;
    height: 70%;
    padding: 10px;
    order: 2;
}

.content-blog-2 .blog-2:nth-child(1) div:nth-child(2) form input:nth-child(1):focus {
    outline: none;
}

/*blog-2 (2)*/

.content-blog-2 .blog-2:nth-child(2) {
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    min-width: 854px;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog {
    height: 500px;
    width: 44%;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -2px -2px 5px #5a5a5a, 2px 2px 5px #5a5a5a;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(1) {
    height: 50%;
    width: 100%;
    box-shadow:  0px 2px 5px #5a5a5a;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(1) img {
    width: 100%;
    height: 100%;
    filter: contrast(1.5);
    transition: all .5s ease-in-out;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(1) img:hover {
    transform: scale(1.1);
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(2) {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 5px;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(2) span {
    width: auto;
    text-align: center;
    font-size: .7em;
    padding: 5px;
    color: #fff;
    border: 1px solid #4f5051;
    background: rgb(105, 99, 101);
    background: linear-gradient(0deg, rgb(113, 107, 109) 0%, rgb(79, 79, 79) 100%);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40%;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) p {
    color: #253743;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    width: 95%;
    text-align: center;
    background: #7e0a31;
}

/*button (a) estilos - universe*/

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a {
    transition: all 0.3s ease;
    position: relative;
    border: none;
    background: linear-gradient(0deg, #9a1f48 0%, #650827 100%);
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a::before,
.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #7e0a31;
    transition: all 0.4s ease;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a::before {
    height: 0%;
    width: 3px;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a::after {
    width: 0%;
    height: 3px;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a:hover {
    color: #7e0a31;
    background: transparent;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a:hover::before {
    height: 100%;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a:hover::after {
    width: 100%;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a span {
    display: block;
    padding: 10px 0 10px 0;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a span:before,
.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #7e0a31;
    ;
    transition: all 0.3s ease;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a span:before {
    width: 3px;
    height: 0%;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a span:after {
    height: 3px;
    width: 0%;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a span:hover:before {
    height: 100%;
}

.content-blog-2 .blog-2:nth-child(2) .div-archivos-blog div:nth-child(3) a span:hover:after {
    width: 100%;
}

/*END*/

/*blog-3 (3)*/

.content-blog-2 .blog-2:nth-child(3) {
    height: 220px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-blog-2 .blog-2:nth-child(3) div:nth-child(1) {
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content-blog-2 .blog-2:nth-child(3) div:nth-child(1) a {
    width: 20%;
    height: 50%;
    border: 2px solid #253743;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #253743;
    letter-spacing: 2px;
    font-weight: 600;
    gap: 10px;
    transition: all 0.3s ease-in;
    min-width: 150px;
}

.content-blog-2 .blog-2:nth-child(3) div:nth-child(1) a:nth-child(2) {
    color: #7e0a31;
    border: 2px solid #7e0a31;
}

.content-blog-2 .blog-2:nth-child(3) div:nth-child(1) a:nth-child(1):hover {
    color: #fff;
    background: #253743;
}

.content-blog-2 .blog-2:nth-child(3) div:nth-child(1) a:nth-child(2):hover {
    color: #fff;
    background: #7e0a31;
}

.content-blog-2 .blog-2:nth-child(3) div:nth-child(2) {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.content-blog-2 .blog-2:nth-child(3) div:nth-child(2) span {
    width: auto;
    font-weight: 500;
    font-size: 1.5em;
    color: #253743;
    user-select: none;
}

/*blog-4 (4)*/

.content-blog-2 .blog-2:nth-child(4) {
    height: 450px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content-blog-2 .blog-2:nth-child(4) h1 {
    width: auto;
    font-size: 2vw;
    text-shadow: black 0.03em 0.03em 0.04em;
    color: #253743;
    position: relative;
}

.content-blog-2 .blog-2:nth-child(4) h1::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100px;
    height: 4px;
    background: crimson;
}

.content-blog-2 .blog-2:nth-child(4) video {
    height: 80%;
    width: 70%;
    background: #222222;
}

.contenedor-blog .responsive {
    display: none;
}

/*RESPONSIVE*/

@media (max-width: 1319px) {
    .content-blog-2 .blog-2:nth-child(2) {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        min-width: 854px;
    }
}

@media (max-width: 1200px) {
    .contenedor-blog .content-blog-1 {
        width: 45% !important;
    }

    .contenedor-blog .content-blog-2 {
        width: 55% !important;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(1) div h1 {
        font-size: 3vw;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(1) div h2 {
        font-size: 2.5vw;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(1) div a {
        font-size: 13px;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(2) {
        width: 100% !important;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(2) h1 {
        font-size: 3vw;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(2) .div-posteosR img {
        min-width: 180px;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(2) .div-posteosR a {
        font-size: 13px;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(2) .div-posteosR p {
        font-size: 13px;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(3) h1 {
        font-size: 3vw;
    }

    .content-blog-2 .blog-2:nth-child(1) {
        min-width: 449px;
    }

    .content-blog-2 .blog-2:nth-child(1) div h1 {
        font-size: 3vw !important;
    }

    .content-blog-2 .blog-2:nth-child(4) h1 {
        font-size: 3vw !important;
    }

    .content-blog-2 .blog-2:nth-child(4) video {
        min-width: 450px;
        height: 300px;
    }
}

@media (max-width: 900px) {
    .contenedor-blog {
        gap: 50px;
        padding-bottom: 30px;
    }

    .contenedor-blog .content-blog-1 {
        padding: 0 0 0 0;
        width: 70%;
    }

    .contenedor-blog .content-blog-2{
        padding: 0 0 0 0;
        margin-top: 0px !important;
        width: 90% !important;
    }

    .contenedor-blog .responsive {
        display: block;
        width: 90% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-blog .content-blog-1 .no-responsive {
        display: none;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(1) div h1 {
        font-size: 4vw;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(1) div h2 {
        font-size: 3.5vw;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(2) h1 {
        font-size: 4vw;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(2) .div-posteosR a {
        font-size: 2.5vw !important;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(2) .div-posteosR p {
        font-size: 2.5vw !important;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(3) h1 {
        font-size: 4vw;
    }

    .content-blog-2 .blog-2:nth-child(1) div h1 {
        font-size: 4vw !important;
    }

    .content-blog-2 .blog-2:nth-child(1) div a {
        font-size: 2.5vw !important;
    }

    .content-blog-2 .blog-2:nth-child(4) h1 {
        font-size: 4vw !important;
    }
}

@media (max-width: 650px) {

    .contenedor-blog .content-blog-1,
    .contenedor-blog .content-blog-2 {
        width: 95% !important;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(1) div h1 {
        font-size: 5vw;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(1) div h2 {
        font-size: 4.5vw;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(2) h1 {
        font-size: 5vw;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(2) .div-posteosR a {
        font-size: 3.5vw !important;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(2) .div-posteosR p {
        font-size: 3.5vw !important;
    }

    .contenedor-blog .content-blog-1 .blog-1:nth-child(3) h1 {
        font-size: 5vw;
    }

    .content-blog-2 .blog-2:nth-child(1) div h1 {
        font-size: 5vw !important;
    }

    .content-blog-2 .blog-2:nth-child(4) h1 {
        font-size: 5vw !important;
    }
}

@media (max-width: 520px) {
    .content-blog-2 .blog-2:nth-child(1) div a {
        font-size: 3vw !important;
    }

    .content-blog-2 .blog-2:nth-child(4) {
        gap: 20px;
        min-width: 450px;
        height: 300px;
    }
}