.content-chatbot {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*box-shadow:  3px 3px 2px #737373, -2px 2px 1px #636363, -2px -2px 1px #737373, 2px -2px 1px #818181;*/
}

/*EFECTO PARA LA IMAGEN DEL CHATBOT

.button {
  position: absolute;
  border: none;
  background: none;
  }

.button::before {
  content: '';
  border: 8px solid #e91e63;
  box-shadow: 0 0 60px #e91e63;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}


.button::after {
  content: '';
  border-radius: 100%;
  border: 8px solid #e91e63;
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: ring 1.1s infinite;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 180px;
    height: 180px;
    opacity: 0;
  }
}*/

/*END*/

input#bossito {
    display: none;
}

label.theBoss {
    width: 120px;
    height: 120px;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 19;
    display: flex;
    justify-content: center;
    align-items: center;
}

label img {
    width: 100%;
    filter: contrast(1.3);
    cursor: pointer;
}

.content-chatbot .options {
    height: 80px;
    width: 100%;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.content-chatbot .options div,
.content-chatbot .options button {
    height: 40px;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
}

.content-chatbot .options div {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-chatbot .options div img {
    height: 100%;
}

.content-chatbot .options div span {
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.content-chatbot .options div label .green {
    color: #379145;
}

.content-chatbot .options button {
    width: 11%;
    cursor: pointer;
    border: none;
}

.content-chatbot .options button:hover {
    filter: contrast(1.3);
}

.content-chatbot .options button i {
    color: #fff;
}

.contenedor-chatbot .content-chatbot .disenio-olas {
    background: #fff;
    width: 100%;
    height: 80px;
}

.contenedor-chatbot .content-chatbot .viewMessages {
    width: 100%;
    height: 420px;
    background: #fff;
}

.contenedor-chatbot .content-chatbot .interaction {
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-chatbot .content-chatbot .interaction input {
    width: 75%;
    height: 40px;
    background: rgb(234, 228, 228);
    border: none;
    padding: 10px;
}

.contenedor-chatbot .content-chatbot .interaction input:focus {
    outline: none;
}

.contenedor-chatbot .content-chatbot .interaction span {
    width: 12%;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/*ESTILOS PARA LOS MENSAJES ENVIADOS DENTRO DE LA CAJITA VIEWMESSAGES*/

.container_msg_bot {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid red;
    gap: 10px;
}

.container_img_bot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
}

.container_img_bot img {
    width: 90%;
}

.msg_bot {
    position: relative;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: justify;
    border: 3px solid yellow;
    width: auto;
}

.msg_bot p{
    width: 190px;
    border: 2px solid red;
}

.msg_bot > .opciones {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid magenta;
}

.msg_bot > .opciones > a {
    text-align: center;
    background-color: #eeeeee;
    width: 90%;
    padding: 10px 5px 10px 5px;
    margin: 5px;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #203A43;
    font-size: 14px;
}

.msg_bot > .opciones > a:hover {
    filter: brightness(92%);
}

.msg_bot ul {
    width: 95%;
    border: 3px solid red
}

.msg_client {
    width: 60%;
    background: #D3CCE3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    float: right;
    margin: 5px;
    padding: 10px 15px 10px 15px;
    font-size: 12px;
    color: #2a2a2a;
}

.viewMessages {
    overflow-y: scroll;
}