.content-chatbot {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input#bossito {
    display: none !important;
}

label.theBoss {
    width: 120px;
    height: 120px;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 19;
    display: flex;
    justify-content: center;
    align-items: center;
}

label img {
    width: 100%;
    filter: contrast(1.3);
    cursor: pointer;
}

.content-chatbot .options {
    height: 80px;
    width: 100%;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.content-chatbot .options div,
.content-chatbot .options button {
    height: 40px;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    border-radius: 5px;
}

.content-chatbot .options div {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-chatbot .options div img {
    height: 100%;
}

.content-chatbot .options div span {
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.content-chatbot .options div label .green {
    color: #379145;
}

.content-chatbot .options button {
    width: 11%;
    cursor: pointer;
    border: none;
}

.content-chatbot .options button:hover {
    filter: contrast(1.3);
}

.content-chatbot .options button i {
    color: #fff;
}

/*.contenedor-chatbot .content-chatbot .disenio-olas {
    background: #fff;
    width: 100%;
    height: 20px !important;
}*/

.contenedor-chatbot .content-chatbot .viewMessages {
    width: 100%;
    height: 500px !important;
    background: #fff;
}

.contenedor-chatbot .content-chatbot .interaction {
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-chatbot .content-chatbot .interaction input {
    width: 75%;
    height: 40px;
    background: rgb(234, 228, 228);
    border: none;
    padding: 10px;
}

.contenedor-chatbot .content-chatbot .interaction input:focus {
    outline: none;
}

.contenedor-chatbot .content-chatbot .interaction span {
    width: 12%;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/*ESTILOS PARA LOS MENSAJES ENVIADOS DENTRO DE LA CAJITA VIEWMESSAGES*/

.container_msg_bot {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

.container_img_bot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_img_bot img {
    object-fit: contain;
    width: 90%;
}

.msg_bot {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: justify;
    width: 80%;
}

.msg_bot .carusel {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 300px;
}

.msg_bot .carusel .listado {
    width: 100%;
    height: 100%;
}

.msg_bot .carusel li {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    text-align: center;
    line-height: 2em;
}

.msg_bot .carusel li a {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    background: #0f718a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #216271, #088eaf);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #235d6a, #0c576a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    padding: 7px 15px 7px 15px;
    letter-spacing: 2px;
}

.msg_bot .carusel li a:hover{
    filter: brightness(150%);
}

.msg_bot .carusel li.active {
    display: flex;
}

.msg_bot .carusel li .slider-single-image {
    width: 100%;
    height: 75%;
    border: 2px solid #d0cfcf;
    filter: contrast(1.3);
    border-radius: 5px;
}

.msg_bot .carusel li .h1-image {
    width: 100%;
    height: 25%;
    text-align: center;
    font-size: 12px;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 2em;
}

.msg_bot .carusel li.active .h1-image {
    display: flex;
}

.msg_bot .controles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.controles .ctrl {
    color: #203A43;
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    font-size: 30px;
    cursor: pointer;
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.controles .ctrl:hover {
    filter: brightness(150%);
}

.msg_bot .print_hour {
    align-self: flex-end;
    color: #cccbcb;
}

.msg_bot>.opciones {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg_bot>.opciones>a {
    text-align: center;
    background-color: #eeeeee;
    width: 90%;
    padding: 10px 5px 10px 5px;
    margin: 5px;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #203A43;
    font-size: 14px;
}

.msg_bot>.opciones>a:hover {
    filter: brightness(92%);
}

.msg_client {
    width: 60%;
    background: #D3CCE3;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    border-radius: 10px;
    margin: 5px;
    padding: 10px 15px 10px 15px;
    font-size: 12px;
    color: #203A43;
    justify-self: flex-end;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.msg_client .print_hour {
    align-self: flex-end;
    color: #676767;
}

.viewMessages {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}