.content-chatbot {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:  3px 3px 2px #737373, -2px 2px 1px #636363, -2px -2px 1px #737373, 2px -2px 1px #818181;
}

/*EFECTO PARA LA IMAGEN DEL CHATBOT*/

.button {
  position: absolute;
  border: none;
  background: none;
  }

.button::before {
  content: '';
  border: 8px solid #e91e63;
  box-shadow: 0 0 60px #e91e63;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}


.button::after {
  content: '';
  border-radius: 100%;
  border: 8px solid #e91e63;
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: ring 1.1s infinite;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 180px;
    height: 180px;
    opacity: 0;
  }
}

/*END*/

input#bossito {
    display: none;
}

label.theBoss {
    width: 120px;
    height: 120px;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 19;
    display: flex;
    justify-content: center;
    align-items: center;
}

label img {
    width: 100%;
    filter: contrast(1.3);
    cursor: pointer;
}

/*.cambiarAspecto:checked~.contenedor-chatbot{
    display: flex;
}*/

/*
.contenedor-chatbot label.theBoss {
    width: 120px;
    height: 120px;
    position: fixed;
    bottom: 0;
    right: 20px;
}

.contenedor-chatbot label img {
    width: 100%;
    filter: contrast(1.3);
    cursor: pointer;
}

.contenedor-chatbot .content-chatbot {
    display: none;
}

.contenedor-chatbot #bossito:checked~.content-chatbot {
    display: flex;
}*/

.content-chatbot .options {
    height: 60px;
    width: 100%;
    background: rgb(71, 17, 17);
    background: radial-gradient(circle, rgba(71, 17, 17, 1) 0%, rgba(121, 8, 30, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.content-chatbot .options div, .content-chatbot .options button{
    height: 40px;
    background: rgb(118, 31, 31);
    border-radius: 5px;
}

.content-chatbot .options div:nth-child(1){
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-chatbot .options div img{
    height: 100%;
}

.content-chatbot .options div span{
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.content-chatbot .options div label .green{
    color: #379145;
}

.content-chatbot .options button{
    width: 11%;
    cursor: pointer;
    border: none;
}

.content-chatbot .options button:hover{
    filter: contrast(1.3);
}

.content-chatbot .options button i{
    color: #fff;
}

.contenedor-chatbot .content-chatbot .viewMessages{
    width: 100%;
    height: 480px;
    background: #fff;
}

.contenedor-chatbot .content-chatbot .interaction{
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-chatbot .content-chatbot .interaction input{
    width: 75%;
    height: 40px;
    background: rgb(234, 228, 228);
    border: none;
    padding: 10px;
}

.contenedor-chatbot .content-chatbot .interaction input:focus{
    outline: none;
}

.contenedor-chatbot .content-chatbot .interaction span{
    width: 12%;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgb(118, 31, 31);
    border-radius: 0 5px 5px 0;
}
/*ESTILOS PARA LOS MENSAJES ENVIADOS DENTRO DE LA CAJITA VIEWMESSAGES*/
.container_msg_bot{
    display: flex;
    /* float: left; */
    width: 80%;
    /* border: red solid 1px; */
    background-color: #fff;
    float: left;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}
.container_img_bot{
    width: 3rem;
    height: 3rem;
    text-align: center;
    margin:  .2rem .2rem .2rem 0;
    overflow: hidden;
    border-radius: 50%;
}
.container_img_bot>img{
    object-fit: contain;
    width: 80%;
}
.msg_bot{
    position: relative;
    width: 80%;
    border: 1px #000 solid;
    border-radius: 10px;
    padding: 10px;
}
.msg_bot>.opciones{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.msg_bot>.opciones >a{
    text-align: center;
    background-color: #eeeeee;
    width: 90%;
    padding: 5px;
    margin: 5px;
    border: 1px rgba(187, 187, 187, 0.933) solid;
    border-radius: 0.5rem;
    cursor: pointer;
}
.msg_client{
    width: 60%;
    background-color: #dddddd;
    border-radius: 10px;
    border: 1px #000 solid;
    float: right;
    margin: 5px;
    padding:10px;
}
.viewMessages{
    overflow-y: scroll;
}