
.contact .contacto-imagen{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: inset -50px 50px 90px #c4c4c4,
                inset 50px -50px 90px #ffffff;
    border-left: 80px solid #253743;
    border-right: 80px solid #253743;
    position: relative;
    padding: 20px;
}


:root {
    --base:              #9afee0;
    --bg-blend:          multiply;
    --blur:              0px;
    --fg-blend:          lighten;
    --foreground:        #000000;
    --opacity:           1;
    --spacing:           0px;
  }
  .imagen-contact-inicio {
    background-color:    var(--base);
    display:             flex;
    flex:                1 1 100%;
    height:              100%;
    overflow:            hidden;
    padding:             var(--spacing);
    position:            relative;
  }
  
  .imagen-contact-inicio img {
    filter:              grayscale(100%) contrast(1) blur(var(--blur));
    flex:                1 0 100%;
    height:              100%;
    max-width:           100%;
    mix-blend-mode:      var(--bg-blend);
    object-fit:          cover;
    opacity:             var(--opacity);
    position:            relative;
    width:               100%;
  }
  
  .imagen-contact-inicio::before {
    background-color:    var(--foreground);
    bottom:              0;
    content:             '';
    height:              100%;
    left:                0;
    mix-blend-mode:      var(--fg-blend);
    position:            absolute;
    right:               0;
    top:                 0;
    width:               100%;
    z-index:             1;
  }

.contact .imagen-contact-inicio{
    width: 95%;
    -moz-border-radius: 0 20% / 0 50%;
    -webkit-border-radius: 0 20% / 0 50%;
    border-radius: 0 20% / 0 50%;
    background: #c02053;
    box-shadow:  5px 5px 10px #222222,
    -5px -5px 10px #222222;
}

.contact .imagen-contact-inicio img{
    background-size: cover;
}

.contact .contacto-p{
    width: 100%;
    text-align: start;
}

.contact .contacto-p p{
    color: #253743;
    font-family: "Montserrat", Sans-serif;
    font-size: 5.5vw;
    font-weight: 700;
}

.contact .contacto-imagen img{
    width: 30%;
    min-width: 150px;
    background: transparent;
    position: absolute;
    right: 0;
    top: -30px;
}

.contact{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    width: 100% !important;
    gap: 50px;
}

.contact .content{
    max-width: 800px;
    text-align: center;
    width: 95%;
}

/*.contact .content h2{
    font-size: 3em;
    color: #222222;
    font-weight: 500;
}*/

.contact .content p{
    color: #253743;
    font-size: 1.4vw;
    font-weight: 500;
    font-family: "Archivo", Sans-serif;
}

/*INFORMACIÓN DE CONTACTO*/

.container{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .contactInfo{
    display: flex;
    flex-direction: column;
    background: #eaeee5;
    border-radius: 50px;
    gap: 30px;
    padding: 70px 30px 70px 30px;
    box-shadow:  5px 5px 6px #5a5a5a,
    -5px -5px 6px #5a5a5a;
}

.container .contactInfo h1{
    width: 100%;
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    color: #253743;
    user-select: none;
}

.container .contactInfo .box{
    position: relative;
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    align-items: flex-start;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    transition: 0.5s;
    border-radius: 6px;
    color: #fff;
}

.container .contactInfo .box:hover .icon{
    background: #00bcd4;
    color: #fff;
}

.container .contactInfo .box .text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.05em;
    color: #253743;
    font-weight: 300;
    gap: 5px;
}

.container .contactInfo .box .text .br{
   margin-top: 20px;
}

.container .contactInfo .box .text h3{
    font-weight: 600;
    color: #253743;
}

.container .contactInfo .box .text p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.container .contactInfo .box .text p span{
    color: #253743;
    font-weight: 500;
}

.container .contactInfo .txt{
    color: #253743;
    font-weight: 500;
    padding-left: 10px;
    border-left: 50px solid #e91e63;
    line-height: 1em;
}

.sci{
    position: relative;
    display: flex;
    gap: 20px;
}

.sci li{
    list-style: none;
}

.sci li a{
    color: #222222;
    font-size: 2em;
    transition: 0.5s;
}

.sci li a:hover{
    color: #00bcd4;
}

.container .contactForm{
    position: relative;
    width: 40%;
    background: #222222;
    min-height: 100px;
    padding: 60px;
    border-radius: 40px;
}

.container .contactForm h2{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
}

.container .contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.container .contactForm .inputBox input,
.container .contactForm .inputBox textarea{
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    resize: none;
    background: #222222;
    color: #fff;
}


.container .contactForm .inputBox label{
    position: absolute;
    left: 10px;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #fff;
    transition: 0.5s;
}


.container .contactForm .inputBox input:focus ~ label,
.container .contactForm .inputBox textarea:focus ~ label,
.container .contactForm .inputBox input:valid ~ label,
.container .contactForm .inputBox textarea:valid ~ label{
    color: #e91e63;
    font-size: 0.9em;
    transform: translateY(-20px);
}

.container .contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 6px;
    opacity: 0.8;
}

.container .contactForm .inputBox input[type="submit"]:hover{
    opacity: 1;
}

.contact .contact-mapBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 95%;
    height: 500px;
    padding-bottom: 40px;
}

.contact .contact-mapBox .mapBox{
    position: relative;
    width: 100%;
    height: 90%;
    background: linear-gradient(45deg, #e6e6e6, #8a8a8a);
    box-shadow:  9px -9px 12px #e6e6e6,
                 -9px 9px 12px #8a8a8a;
}

.mapBox iframe{
    width: 100%;
    height: 100%;
}

/*RESPONSIVE*/

@media (max-width: 1130px){
    .contact .imagen-contact-inicio{
        margin-top: 90px;
    }
    .contact .content p{
        font-size: 3vw;
    }
    .contact .container .contactInfo{
        transform: scale(0.9);
    }
    .contact .container .contactForm{
        min-width: 377px;
    }
}

@media (max-width: 991px) {

    .contact .container .contactInfo{
        min-width: 571px;
    }
}

@media (max-width: 960px){
    .contact .container{
        flex-direction: column;
    }
    .contact .container .contactInfo{
        min-width: 95% !important;
    }
    .contact .container .contactForm{
        width: 70%;
        min-width: 450px;
    }
}

@media (max-width: 650px){
    .contact .content p{
        font-size: 4vw;
    }
    .contact .contact-mapBox{
        height: 350px;
    }
    .contact .container .contactForm{
        min-width: 95%;
    }
}