
body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #ede7f6;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container_2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container_2 .sec{
    margin-right: 30px;
}

footer .container_2 .sec.aboutus{
    width: 40%;
}

footer .container_2 h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container_2 h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p{
    color: #999;
    text-align: justify;
}

.sci_2{
    margin-top: 20px;
    display: flex;
}

.sci_2 li{
    list-style: none;
}

.sci_2 li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci_2 li a:hover{
    background: #f00;
}

.sci_2 li a .fa{
    color: #fff;
    font-size: 20px;
}

.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li{
    list-style: none;
}

.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover{
    color: #fff;
}

.contact_2{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact_2 .info{
    position: relative;
}

.contact_2 .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact_2 .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact_2 .info li span{
    color: #999;
}

.contact_2 .info li a{
    color: #999;
    text-decoration: none;
}

.contact_2 .info li a:hover{
    color: #fff;
}

.copyrightText{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

/** Scroll para desplazarse hacia arriba **/

footer .div-on .on{
    background: #fff;
    width: 60px;
    height: 60px;
    right: 15px;
    bottom: 0;
    top: 0;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 4px 4px;
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

footer .div-on .on p{
    font-size: 12px;
    color: #222222;
    font-weight: 600;
}

footer .div-on .on i{
    font-size: 15px;
    color: #222222;
}


@media (max-width: 991px){
    footer{
        padding: 40px;
    }

    footer .container_2{
        flex-direction: column;
    }

    footer .container_2 .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container_2 .sec.aboutus,
    .quickLinks,
    .contact_2{
        width: 100%;
    }

    .copyrightText{
        padding: 8px 40px;
    }
}