.contenedor-inicio {
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/*Estilos para el título*/

.title-inicio-2 {
    position: absolute;
    top: 0;
    right: 30px;
    color: #253743;
    z-index: 1;
}

.title-inicio-2 h2 {
    position: relative;
    text-transform: uppercase;
}

.title-inicio-2 p {
    font-size: 20px;
    margin-top: 10px;
}

.title-inicio-2 h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 100px;
    height: 4px;
    background: crimson;
}

.title-inicio {
    position: absolute;
    top: 0;
    left: 30px;
    color: #253743;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.title-inicio p {
    font-size: 20px;
}

.title-inicio h2 {
    position: relative;
    text-transform: uppercase;
}

.title-inicio h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100px;
    height: 4px;
    background: crimson;
}

.title-inicio-3 {
    display: none;
}

/*INICIO 1*/

.content-slider {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;

}

.content-slider .slider-top {
    width: 100%;
    /*min-width: 800px;*/
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-slider .slider-top #div-slider-top {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-slider .slider-top #div-slider-top .section-slider {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*
.content-slider .slider-top #div-slider-top .section-slider .slider{
    border: 30px solid green;
    width: 100%;
    height: 100%;
}*/

.section-slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: none;
    animation: slide 2s ease;
}

.section-slider .slide.active {
    display: flex;
}

@keyframes slide {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.section-slider .slide.active .container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.section-slider .slide.active .container .caption {
    width: 100%;
    opacity: 0.9;
}

.section-slider .slide.active .container .caption:hover {
    opacity: 1;
}

.section-slider .slide.active .container .caption a {
    display: inline-block;
    height: auto;
    width: 100%;
    background: #151515;
    text-decoration: none;
    border-radius: 0 10px 10px 0;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.section-slider .slide.active .container .caption a p {
    text-align: justify;
    z-index: 4;
    color: rgb(255, 255, 255);
    font-size: 1.1vw;
    height: auto;
    line-height: 1.5em;
}

.section-slider .slide.active .container .caption a h1 {
    color: #851a3b;
    z-index: 4;
    font-size: 2vw;
}

.section-slider .slider .slide.active .container .caption a {
    opacity: 0;
    animation: captionText .9s ease forwards;
    animation-delay: 0.3s;
}

@keyframes captionText {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.slider-top .controls {
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 113px;
}

.slider-top .icon-left-dir, .slider-top .icon-right-dir{
    position: absolute;
    z-index: 2;
    height: 45%;
    width: 50%;
    color: #851a3b;
    background-color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #851a3b, 0 0 7px #851a3b, 0 0 11px #851a3b;
}

.slider-top .icon-left-dir:hover,
.slider-top .icon-right-dir:hover {
    background-color: #851a3b;
    color: #fff;
}

.slider-top .icon-left-dir {
    bottom: 0;
    border-radius: 50%;
}

.slider-top .icon-right-dir {
    top: 0;
    border-radius: 50%;
}

.slider-top .indicator {
    position: absolute;
    z-index: 2;
    /*transform: translateX(-50%);*/
    cursor: pointer;
    width: 100%;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-top .indicator div {
    display: inline-block;
    width: 4%;
    height: 9px;
    color: #ffffff;
    background-color: #b1b1b1;
    text-align: center;
    line-height: 25px;
    margin: 0 3px;
    border: none !important;
}

.slider-top .indicator div:hover {
    background-color: #851a3b;
}

.slider-top .indicator div.active {
    background-color: #851a3b;
}

@media (max-width: 850px) {
    .caption a h1 {
        font-size: 2.5vw !important;
    }

    .caption a p {
        font-size: 2vw !important;
    }

    .section-slider .slide.active .container {
        width: 60%;
    }
}

/*INICIO 2*/

.content-service {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.content-service .div {
    height: 60%;
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 83px 20px 20px;
    user-select: none;
    position: relative;
}

.content-service .muneco-service {
    position: absolute;
    top: -250px;
    z-index: 1 !important;
    height: 250px !important;
    filter: grayscale(1);
    transition: all 0.3s ease-in;
}

.content-service .div .glass-div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    transition: all .5s ease-in-out;
}

.content-service .div a {
    height: 65%;
    width: 100%;
    position: relative;
    border-radius: 25px 83px 0 0;
    overflow: hidden;
}


.content-service .div a:hover .glass-div {
    backdrop-filter: inherit;
    background: transparent;
}

/*div de suma*/

.content-service .div a .div-plus {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 60px;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
    border-radius: 50% 50% 0 50%;
    border: 2px solid #fff;
    border-right: none !important;
    z-index: 4;
}

.content-service .div a:hover>.div-plus {
    width: 100px;
    border-radius: 20px 0 0 0;
    height: 50px;
}

.content-service .div a:hover~.muneco-service {
    filter: grayscale(0);
}

.content-service .div a:hover>.div-plus>.icon-plus-1 {
    display: none;
}

.content-service .div a:hover>.div-plus>.div-plus-txt>span {
    display: block;
}

.div-plus .icon-plus-1 {
    font-size: 18px;
    color: #fff;
}

.div-plus .div-plus-txt {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.div-plus .div-plus-txt span {
    display: none;
    animation: aparecer 0.5s linear;
    font-size: 15px;
}

@keyframes aparecer {
    0% {
        font-size: 0px;
    }

    100% {
        font-size: 15px;
    }
}

.content-service .div a span img {
    height: 100%;
    width: 100%;
    border-radius: 0 80px 0 0;
    transition: all .4s ease-in-out;
}

.content-service .div a:hover span img {
    transform: scale(1.2);
}

.content-service .div .description-service {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    padding: 15px;
    background: #fff;
    border-radius: 0 0 20px 20px;
    box-shadow: inset -1px -1px 3px #3b3b3b, inset 1px 1px 3px #3b3b3b;
}

.description-service h3 {
    font-weight: 700;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: black 0.05em 0.05em 0.07em;
    text-transform: uppercase;
}

.description-service p {
    text-align: justify;
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 200;
    font-size: 1em;
    color: #253743;
}

.download-button {
    display: none;
}

/*responsive*/

@media (max-width: 1300px) {
    .content-service {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        gap: 20px;
        padding-top: 50px;
    }

    .content-service .div {
        height: 430px;
        width: 330px;
    }

    .content-service .div:nth-child(1) .muneco-service {
        left: -60%;
        top: 0;
        bottom: 0;
        margin: auto;
        height: auto !important;
        width: 60%;
    }

    .content-service .div:nth-child(2) .muneco-service {
        right: -60%;
        top: 0;
        bottom: 0;
        margin: auto;
        height: auto !important;
        width: 60%;
    }

    .content-service .div:nth-child(3) .muneco-service {
        left: -60%;
        top: 0;
        bottom: 0;
        margin: auto;
        height: auto !important;
        width: 60%;
    }

    .content-service .div:nth-child(4) .muneco-service {
        right: -60%;
        top: 0;
        bottom: 0;
        margin: auto;
        height: auto !important;
        width: 60%;
    }
}

@media (max-width: 1075px) {

    .div .muneco-service {
        display: none;
    }
}

@media (max-width: 710px) {
    .contenedores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px !important;
    }

    .inicio-2 {
        background: white;
    }
}

/*INICIO 3*/

.slide3 {
    position: relative;
    height: 100%;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.slide3 .maximum {
    width: 1000px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide3 .swiper .card {
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.slide3 .swiper .card::before {
    content: "";
    position: absolute;
    height: 180px;
    width: 100%;
}

.slide3 .swiper .card .icono-card {
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 30px;
    background: #fff;
    color: #203A43;
    z-index: 100;
    cursor: pointer;
    transition: all 0.2s ease-in;
    box-shadow: inset -1px -1px 2px #666666;
}

.slide3 .swiper .card .card-down {
    font-size: 60px;
    color: #253743;
    text-shadow: black 0.04em 0.04em 0.05em;
    animation: arrowLow 1.5s infinite;
    position: absolute;
    bottom: 25%;
}

@keyframes arrowLow {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateY(60px);
    }

    100% {
        transform: translateY(0px);
    }
}

.slide3 .swiper .card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    cursor: pointer;
    height: 180px;
    overflow: hidden;
    transition: all 0.8s;
}

.slide3 .card .image {
    width: 100%;
    height: 180px;
}

.slide3 .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: contrast(1.4);
    border: 3px solid #253743;

}

.slide3 .swiper .card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.name-profession .name {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-style: italic;
}

.name-profession .profession {
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    color: #fff;
}

.swiper-pagination {
    position: absolute;
}

.swiper-pagination-bullet {
    height: 10px;
    width: 40px;
    border-radius: 25px;
    background: #253743;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 1;
    color: #253743;
    transition: all 0.3s ease;
    font-weight: 800;
    transform: scale(1.2);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #851a3b;
}

.inicio-3 .muneco-major {
    height: 90%;
}

.slide3 div.medium {
    width: 660px !important;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide3 div.minimum {
    width: 330px !important;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 1060px) {
    .inicio-3 .muneco-major {
        display: none;
    }
}

@media (max-width: 650px) {
    .swiper-pagination-bullet {
        height: 7px;
        width: 30px;
        border-radius: 25px;
        background: #253743;
    }
}

/*INICIO 4*/

.contenedor-4 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenedor-4 .content4-ct0 {
    height: 60%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e8f6f5;
    border-radius: 12px;
}

.contenedor-4 .content4-ct0 .ct0-texto {
    height: 65%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #253743;
    gap: 30px;
}

.contenedor-4 .content4-ct0 .ct0-texto h2 {
    font-size: 1vw;
    letter-spacing: 2px;
}

.content4-ct0 .ct0-texto p {
    text-align: justify;
    font-size: 1vw;
}

.contenedor-4 .content4-ct0 .ct0-button {
    height: 25%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-4 .content4-ct0 .ct0-button a {
    text-decoration: none;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #253743;
    transition: all 1000ms;
    font-size: 1vw;
    position: relative;
    overflow: hidden;
    outline: 2px solid #253743;
}

.contenedor-4 .content4-ct0 .ct0-button a:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #253743;
    box-shadow: 4px 5px 17px -4px #253743;
}

.contenedor-4 .content4-ct0 .ct0-button a::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #253743;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.contenedor-4 .content4-ct0 .ct0-button a:hover::before {
    width: 250%;
}

.contenedor-4 .content4-ct {
    height: 90%;
    width: 50%;
    min-width: 640px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
}

.contenedor-4 .content4-ct .child1-min {
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-4 .content4-ct .child1-min .child1-img {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}

.child1-min:hover .child1-img {
    transform: rotateY(180deg);
}

.child1-img .front,
.back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
    gap: 15px;
}

.child1-img .front img {
    width: 100%;
    height: 100%;
}

.child1-img .front {
    filter: contrast(1.5);
    border: 2px solid #5c5e5f;
}

.child1-img .back {
    background: linear-gradient(120deg, #e7e7da 30%, #e7e7da 88%,
            #e7e7da 40%, #e7e7da 78%);
    transform: rotateY(180deg);
}

.child1-img .back {
    color: #253743;
    border: none;
    padding: 20px;
}

.child1-img .back h3 {
    text-align: center;
    font-size: 0.9vw;
    font-style: italic;
}

.child1-img .back p {
    text-align: center;
    font-size: 1vw;
}

.child1-img .back a {
    text-decoration: none;
    height: 50px;
    width: 100px;
    font-size: 20px;
    position: relative;
    border: navajowhite;
    background-color: #222;
    color: aliceblue;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 2px 2px 2px red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child1-img .back a::before {
    content: '';
    height: 10px;
    width: 30px;
    position: absolute;
    background-image: linear-gradient(45deg, rgba(156, 56, 56, 1), red);
    left: -10px;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}

.child1-img .back a:hover::before {
    height: 100px;
    width: 100px;
}

.child1-img .back a:hover {
    border-radius: 5px;
}

.child1-img .back span {
    font-size: 30px;
    color: #aeb8a4;
}

@media (max-width: 1120px) {

    .contenedor-4 {
        flex-direction: column;
        gap: 30px;
        padding-top: 50px;
    }

    .contenedor-4 .content4-ct0 {
        height: 400px;
        width: 30%;
        min-width: 350px;
        gap: 50px;
        padding-left: 15px;
        padding-right: 15px;

    }

    .contenedor-4 .content4-ct0 .ct0-texto {
        height: auto;
        width: auto;
        gap: 30px;
    }

    .contenedor-4 .content4-ct0 .ct0-texto h2 {
        font-size: 1.5em;
    }

    .content4-ct0 .ct0-texto p {
        font-size: 1em;
    }

    .contenedor-4 .content4-ct0 .ct0-button {
        height: auto;
        width: auto;
    }

    .contenedor-4 .content4-ct0 .ct0-button a {
        font-size: 1.2em;
    }

    .contenedor-4 .content4-ct {
        height: 250px;
        width: 95%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .child1-img .back h3 {
        font-size: 1.5vw;
    }

    .child1-img .back p {
        font-size: 1.2vw;
    }
}

@media (max-width: 920px) {

    .contenedor-4 .content4-ct {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 30px;
    }

    .contenedor-4 .content4-ct .child1-min {
        height: 320px;
        width: 400px;
    }

    .contenedor-4 .content4-ct .child1-min .child1-img {
        width: 100%;
        height: 100%;
    }

    .child1-img .back h3 {
        font-size: 2.1vw;
    }

    .child1-img .back p {
        font-size: 1.8vw;
    }
}

@media (max-width: 665px) {

    .child1-img .back h3 {
        font-size: 3.5vw;
    }

    .child1-img .back p {
        font-size: 3.1vw;
    }

    .inicio-4 .title-inicio h2 {
        font-size: 3.9vw;
    }
}

/*INICIO 5*/

.contenedor-5 {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.contenedor-5 .content-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.contenedor-5 .content-5:nth-child(3) {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-5 .content-5 .content-5-min1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 60%;
    position: relative;
    background: #253743;
    border-radius: 0 30px 30px 0;
}

.contenedor-5 .content-5 .content-5-min1:nth-child(2) {
    border-radius: 30px 0 0 30px;
}

.contenedor-5 .content-5 .content-5-min1 p {
    text-align: center;
    color: #fff;
    font-size: 1.4vw;
    font-style: italic;
}

.contenedor-5 .content-5 .min2-1 {
    color: #D4393C;
}

.contenedor-5 .content-5 .min2-2 {
    color: #015496;
}

.contenedor-5 .content-5-min1 .valor1 {
    position: absolute;
    left: 0;
    top: -90px;
    width: 180px;
}

.content-5-min1 .valor2 {
    position: absolute;
    right: 0;
    top: -90px;
    width: 180px;
}

.contenedor-5 .content-5 .content-5-min2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 40%;
}

.contenedor-5 .content-5 .content-5-min2 h1 {
    font-size: 3.5vw;
    font-style: italic;
    text-shadow: black 0.08em 0.08em 0.1em;
}

.contenedor-5 .content-5 .content-5-min3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20%;
    width: 100%;
}

.contenedor-5 .content-5 .content-5-min3 h1 {
    font-size: 3.5em;
    font-style: italic;
    text-shadow: black 0.05em 0.05em 0.1em;
}

.contenedor-5 .content-5-min3:nth-child(2) {
    height: 20%;
}

.contenedor-5-burbuja {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    height: 80%;
}

.contenedor-5-burbuja .content-5-burbuja {
    position: relative;
    width: 250px;
    height: 250px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
        25px 35px 20px rgba(0, 0, 0, 0.05),
        25px 30px 30px rgba(0, 0, 0, 0.05),
        inset -20px -20px 25px rgba(159, 153, 153, 0.9);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-5-burbuja .content-5-burbuja:nth-child(1) {
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
}

.contenedor-5-burbuja .content-5-burbuja:nth-child(2) {
    border-radius: 61% 39% 52% 48% / 44% 59% 41% 56%;
}

.contenedor-5-burbuja .content-5-burbuja:nth-child(3) {
    border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}

.contenedor-5-burbuja .content-5-burbuja:nth-child(4) {
    border-radius: 35% 55% 31% 60% / 50% 59% 41% 43%;
}

.contenedor-5-burbuja .content-5-burbuja:hover {
    border-radius: 50%;
}

.contenedor-5-burbuja .content-5-burbuja::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 85px;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}

.contenedor-5-burbuja .content-5-burbuja::after {
    content: '';
    position: absolute;
    top: 90px;
    left: 110px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}

.contenedor-5-burbuja .content-5-burbuja .burbuja-5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 15px;
}

.contenedor-5-burbuja .content-5-burbuja .burbuja-5 img {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: inset 2px 3px 3px #888677,
        inset -2px -3px 3px #888677,
        3px 3px 3px #888677,
        3px 2px 3px #888677;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-5-burbuja .content-5-burbuja .burbuja-5 p {
    position: relative;
    padding: 7px 10px;
    background: var(--clr);
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    font-weight: 500;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    opacity: 0.75;
    transition: 0.5s;
    font-size: 13px;
}

.contenedor-5-burbuja .content-5-burbuja .burbuja-5 a:hover {
    opacity: 1;
}

.contenedor-5-burbuja .content-5-burbuja .burbuja-5 a::before {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1135px) {

    .contenedor-5 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 100px;
    }

    .contenedor-5 .content-5 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 170px !important;
    }

    .contenedor-5 .content-5:nth-child(3) {
        height: auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

    .contenedor-5 .content-5 .content-5-min3 {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: auto;
        width: 100%;
    }

    .contenedor-5 .content-5 .content-5-min3 h1 {
        font-size: 3.5vw;
    }

    .contenedor-5-burbuja {
        height: auto;
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 650px) {
    .contenedor-5 .content-5 .content-5-min1 p {
        font-size: 2vw;
    }
}


@media (max-width: 580px) {
    .contenedor-5-burbuja {
        height: auto;
        display: grid;
        grid-template-columns: auto;
    }
}

/*INICIO 6*/

.contenedor-inicio-6 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-padre-6 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-6-2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.contenedor-6-2 .content6-3 {
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 10px;
    opacity: .95;
}

.content6-3 .padre-contador {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content6-3 .padre-contador .hijo-contador {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 95%;
    position: relative;
}

.hijo-contador .count-cantidad-padre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hijo-contador .count-cantidad-padre .icon-plus {
    color: #F3CC23;
    font-size: 25px;
}

.hijo-contador .count-cantidad-padre span {
    width: auto !important;
    height: 100% !important;
}

.content6-3 .padre-contador .hijo-contador span {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3vw;
    font-weight: 500;
    color: rgb(230, 224, 224);
}

.content6-3 .padre-contador .hijo-contador span:nth-child(1) {
    height: 32%;
}

.content6-3 .padre-contador .hijo-contador span:nth-child(3) {
    height: 43%;
}

.hijo-contador .count-cantidad {
    color: #F3CC23 !important;
    font-size: 5vw !important;
    font-weight: 700;
}

.content6-3 .padre-contador .hijo-contador span img {
    width: 70px;
}

.content6-3 .padre-contador .hijo-contador:nth-child(1) span img {
    width: 70px;
}

.contenedor-6 {
    position: relative;
    width: 500px !important;
    height: 500px !important;
    border: 3px solid #a5214b;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 100px;
}

.contenedor-6 .content6-1 {
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contenedor-6 .content6-1 .imgBx {
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
    transform: rotate(calc(360deg/5 * var(--i)));
    transform-origin: 300px;
    z-index: 2;
    overflow: hidden;
}

.contenedor-6 .content6-1 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/5 * var(--i)));
    transition: 0.5s;
    filter: grayscale(1);
}

.contenedor-6 .content6-1 .imgBx.active img {
    filter: grayscale(0);
}

.content6-2 {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content6-2::before {
    content: '';
    position: absolute;
    inset: 40px;
    border: 4px solid transparent;
    border-left: 3px solid #a78530;
    border-right: 3px solid #738460;
    border-radius: 50%;
    animation: animate_01 2.5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate_01 {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.content6-2::after {
    content: '';
    position: absolute;
    inset: 80px;
    border: 4px solid transparent;
    border-left: 3px solid #ca9e2f;
    border-right: 3px solid #92a879;
    border-radius: 50%;
    animation: animate_02 2.5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate_02 {
    0% {
        rotate: 360deg;
    }

    100% {
        rotate: 0deg;
    }
}

.contentBx {
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 250px;
    background: linear-gradient(145deg, #faffbe, #ece495);
    box-shadow: 5px 5px 5px #0a0a0a,
        -5px -5px 5px #2a2a2a;
}

.contentBx.active {
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}

.contentBx .card-content6-2 {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.contentBx .card-content6-2 .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    z-index: -100;
}

.contentBx .card-content6-2 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBx .card-content6-2 .textBx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.contentBx .card-content6-2 .textBx h2 {
    position: relative;
    font-size: 1.25em;
    font-weight: 600;
    color: #253743;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}

.contentBx .card-content6-2 .textBx p {
    font-size: 1vw;
    color: #253743;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
}

.contentBx .card-content6-2 .textBx .sci-6 {
    position: relative;
    display: flex;
    gap: 7px;
    margin-top: 10px;
}

.contentBx .card-content6-2 .textBx .sci-6 li {
    list-style: none;
}

.contentBx .card-content6-2 .textBx .sci-6 li a {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #444;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.contentBx .card-content6-2 .textBx .sci-6 li a:hover {
    background: #2196f3;
}

@media (max-width: 1200px) {
    .contenedor-6-2 {
        width: 40% !important;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        z-index: 0;
    }

    .contentBx .card-content6-2 .textBx p {
        font-size: 1.5vw;
    }
}

@media (max-width: 1000px) {

    .contenedor-padre-6 {
        flex-direction: column;
        gap: 50px;
        padding-top: 100px;
    }

    .contenedor-6-2 {
        width: 100% !important;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .contenedor-6 {
        margin-left: 0px !important;
        margin-top: 0px !important;
    }

    .content6-3 .padre-contador .hijo-contador span {
        font-size: 1.8vw;
    }

    .contentBx .card-content6-2 .textBx p {
        font-size: 1.5vw;
    }
    .title-inicio-2 {
        display: none;
    }

    .contenedor-6-2 .title-inicio-3 {
        display: block;
        left: 30px;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .contenedor-6-2 .title-inicio-3 h2 {
        position: relative;
        text-transform: uppercase;
        color: #fff;
    }

    .contenedor-6-2 .title-inicio-3 h2::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100px;
        height: 4px;
        background: crimson;
    }

}

@media (max-width: 650px) {

    .contenedor-padre-6 {
        gap: 80px;
    }

    .contenedor-6-2 {
        position: relative;
        padding-top: 50px;
    }

    .title-inicio p {
        font-size: 2.5vw;
    }

    .contenedor-6 {
        width: 380px !important;
        height: 380px !important;
    }

    .contenedor-6 .content6-1 .imgBx {
        width: 100px;
        height: 100px;
        transform-origin: 245px;
    }

    .content6-2::before {
        inset: 40px;
    }

    .content6-2::after {
        inset: 55px;
    }

    .contentBx {
        width: 150px;
        height: 200px;
    }

    .contentBx .card-content6-2 .imgBx {
        width: 100px;
        height: 100px;
    }

    .contentBx .card-content6-2 .textBx h2 {
        font-size: 2.2vw;
    }

    .contentBx .card-content6-2 .textBx p {
        font-size: 2.2vw;
    }
}

/*INICIO 7*/

.contenedor-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contenedor-7 .content7-1 {
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-7 .content7-1 .content7-rep {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    border-radius: 100px;
    background: #F4ECFF;
    position: relative;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor-7 .content7-1 .content7-rep .represent-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    box-shadow: 4px -4px 5px #aa75e6,
        -6px 6px 7px #6b409b;
    overflow: hidden;
    width: 75% !important;
}

.contenedor-7 .content7-1 .content7-rep .represent-think {
    width: 200px;
    height: 200px;
    position: absolute;
    right: -130px;
    top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.6s ease-in-out;
}

.contenedor-7 .content7-1 .content7-rep .represent-think img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(-2px 2px 7px rgba(38, 101, 122, 0.7));
}

.contenedor-7 .content7-1 .content7-rep .represent-think p {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    font-family: 'mulish';
    font-style: italic;
    line-height: 25px;
    width: 85%;
    color: #253743;
}

.contenedor-7 .content7-1 .content7-rep .represent-img .img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    background: linear-gradient(45deg, #f0f0f0, #cacaca);
    filter: contrast(1.3);
    cursor: pointer;
}

/*EFECTO DE BRILLO*/

.contenedor-7 .content7-1 .content7-rep .represent-img::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
    top: 0;
    left: -150px;
    transform: skewX(-30deg);
    z-index: 100;
    animation: brillo 0.8s infinite alternate;
}

@keyframes brillo {
    from {
        left: -150px;
    }

    to {
        left: 350px;
    }
}

/*END EFECTO DE BRILLO*/

.contenedor-7 .content7-1 .content7-rep:hover .represent-think {
    transform: scale(1);
}

.contenedor-7 .content7-1 .content7-rep .represent-info {
    height: 30%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content7-rep .represent-info h3 {
    font-weight: 100;
    color: #253743;
    font-size: 1.2vw;
}

.content7-rep .represent-info h2 {
    color: #253743;
    font-size: 1.5vw;
}

.content7-rep .represent-info span {
    font-size: 42px;
    color: rgb(73, 73, 203);
}

.contenedor-7 .content7-2 {
    width: 66%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content7-2 .content7-titulo {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content7-2 .content7-titulo h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #253743;
    font-family: 'Staatliches', cursive;
    font-size: 2.5em;
    position: relative;
}

.content7-2 .content7-titulo h2::before {
    font-family: Fontello;
    content: "\E89F";
    position: absolute;
    left: -70px;
    transform: scale(0);
    transition: all 0.6s ease-in;
}

.content7-2 .content7-titulo h2::after {
    font-family: Fontello;
    content: "\E89F";
    position: absolute;
    right: -70px;
    transform: scale(0);
    transition: all 0.6s ease-in;
}

.content7-2 .content7-titulo h2:hover::before,
.content7-2 .content7-titulo h2:hover::after {
    transform: scale(1);
}

.content7-2 .content7-orga {
    height: 90%;
    width: 100%;
}

.content7-2 .content7-orga img {
    height: 100%;
    width: 100%;
}

@media (max-width: 1500px) {
    .contenedor-7 .content7-1 .content7-rep:hover .represent-think {
        transform: scale(0.9);
    }
}

@media (max-width: 1350px) {
    .contenedor-7 .content7-1 .content7-rep:hover .represent-think {
        transform: scale(0.8);
    }
}

@media (max-width: 1250px) {
    .contenedor-7 .content7-1 .content7-rep:hover .represent-think {
        transform: scale(0.7);
    }
}

@media (max-width: 1100px) {
    .contenedor-7 {
        flex-direction: column;
        padding-top: 50px;
        gap: 30px;
    }

    .contenedor-7 .content7-1 {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 400px;
    }

    .contenedor-7 .content7-2 {
        gap: 30px;
        width: 100%;
    }

    .content7-2 .content7-orga {
        height: 90%;
        width: 100%;
    }

    .content7-2 .content7-orga img {
        height: 100%;
        width: 100%;
    }

    .contenedor-7 .content7-1 .content7-rep:hover .represent-think {
        transform: scale(1);
    }

    .content7-rep .represent-info h3 {
        font-weight: 100;
        color: #253743;
        font-size: 2vw;
    }

    .content7-rep .represent-info h2 {
        color: #253743;
        font-size: 2.5vw;
    }
}

@media (max-width: 908px) {
    .contenedor-7 .content7-1 .content7-rep:hover .represent-think {
        transform: scale(0.9);
    }
}

@media (max-width: 705px) {

    .contenedor-7 {
        gap: 60px;
        padding: 50px 0 50px 0;
    }

    .contenedor-7 .content7-1 {
        order: 2;
    }

    .contenedor-7 .download-button {
        order: 1;
    }

    .contenedor-7 .content7-2 {
        display: none;
    }

    .contenedor-7 .content7-1 .content7-rep:hover .represent-think {
        transform: scale(0.8);
    }

    .download-button {
        position: relative;
        border: none;
        color: white;
        font-size: 15px;
        font-weight: 600;
        border-radius: 4px;
        z-index: 1;
    }

    .download-button .docs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 40px;
        padding: 0 10px;
        border-radius: 4px;
        z-index: 1;
        background-color: #242a35;
        border: solid 1px #e8e8e82d;
        transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .download-button:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .download {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        z-index: -1;
        border-radius: 4px;
        transform: translateY(0%);
        border: solid 1px #991641;
        transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .download {
        background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
    }

    .download-button:hover .download {
        transform: translateY(100%)
    }

    .download svg polyline,
    .download svg line {
        animation: docs 1s infinite;
    }

    @keyframes docs {
        0% {
            transform: translateY(0%);
        }

        50% {
            transform: translateY(-15%);
        }

        100% {
            transform: translateY(0%);
        }
    }
}

@media (max-width: 600px) {
    .contenedor-7 .content7-1 {
        justify-content: flex-start;
    }

    .content7-rep .represent-info h3 {
        font-weight: 100;
        color: #253743;
        font-size: 3vw;
    }

    .content7-rep .represent-info h2 {
        color: #253743;
        font-size: 3.5vw;
    }

}

/*INICIO 8*/

.contenedor-8 {
    width: 75vw;
    overflow: hidden;
    box-shadow: 0px -5px 4px #5a5a5a,
        -5px 5px 4px #ffffff;
}

.contenedor-8 .content8 {
    display: flex;
    animation: scroll 10s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: calc(200px * 14);
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.contenedor-8 .content8 .content8-slide {
    width: 200px;
}

.contenedor-8 .content8 .content8-slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}


/*ESTILOS PARA LA ANIMACIÓN CUANDO SE RECARGA EL DOM*/

.hideee {
    opacity: 0;
}

.topY {
    animation: nohideeen 1.3s;
}

@keyframes nohideeen {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.leftX {
    animation: nohideeen2 1.3s;
}

@keyframes nohideeen2 {
    0% {
        opacity: 0;
        transform: translatex(-100px);
    }

    100% {
        opacity: 1;
        transform: translatex(0);
    }
}

.rightX {
    animation: nohideeen3 1.3s;
}

@keyframes nohideeen3 {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.botY {
    animation: nohideeen4 1.3s;
}

@keyframes nohideeen4 {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
