.contenedor-inicio{
    height: 100%;
    border: 1px solid black;
    width: 100%;
    background: #fff;
}

.inicio-1, .inicio-2, .inicio-3, .inicio-4{
    height: 680px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    border: 5px solid orange;
}

/*INICIO 1*/

.content-slider{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center; 
    position: relative;
}

.slider-top{
    width: 100%;
    min-width: 800px;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.slider-top #div-slider-top{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.section-slider{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;  
}

.section-slider .slider{
    /**/
}

.section-slider .slider img{
    width: 100%;
    height: 100%;
}

.section-slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    z-index: 1;
    display: none;
    animation: slide 2s ease;
}

.section-slider .slide.active{
    display: flex;
}

@keyframes slide{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.container{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-slider .container{
    flex-grow: 1;
}

.section-slider .caption{
    width: 100%;
    opacity: 0.9;
}

.section-slider .caption:hover{
    opacity: 1;
}

.section-slider .caption a{
    display: inline-block;
    height: 110px;
    width: 100%;
    background: #151515;
    text-decoration: none;
    border-radius: 0 10px 10px 0;
    text-align: center;   
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.section-slider .caption a p{
    text-align: justify;
    z-index: 100;
    color: rgb(255, 255, 255);
}

.section-slider .caption a h1{
    color: #395d75;
    z-index: 100;
}

.section-slider .slide.active .caption a{
    opacity: 0;
    animation: captionText .5s ease forwards;
    animation-delay: 0.3s;
}

@keyframes captionText{
    0%{
        opacity: 0; 
        transform: translateX(-100px);
    }
    100%{
        opacity: 1; 
        transform: translateX(0px);
    }
}

.slider-top .controls{
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 113px;
}

.slider-top .icon-left-dir, .icon-right-dir{
    position: absolute;
    z-index: 2;
    height: 45%;
    width: 50%;
    color: #222222;
    background-color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: all .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #222222, 0 0 7px #222222, 0 0 11px #222222; 
}

.slider-top .icon-left-dir:hover, .slider-top .icon-right-dir:hover{
    background-color: #222222;
    color: #fff;
}

.slider-top .icon-left-dir{
    bottom: 0;
    border-radius: 50%;
 
}

.slider-top .icon-right-dir{
    top: 0;
    border-radius: 50%;


}

.slider-top .indicator{
    position: absolute;
    z-index: 2;
    /*transform: translateX(-50%);*/
    cursor: pointer;
    width: 100%;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-top .indicator div{
    display: inline-block;
    width: 4%;
    height: 9px;
    color: #ffffff;
    background-color: #b1b1b1;
    text-align: center;
    line-height: 25px;
    margin: 0 3px;
    border: none !important;
}

.slider-top .indicator div:hover{
    background-color: #222222;
}

.slider-top .indicator div.active{
    background-color: #222222;
}

/*INICIO 2*/

.title-inicio{
    position: absolute;
    top: -30px;
    left: 30px;
    color: #253743;
}

.title-inicio h2{
    position: relative;
}

.title-inicio h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100px;
    height: 4px;
    background: crimson;
}

.contenedores{
    margin-top: 60px;
}

.content-service{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #fff;
}

.content-service .div{
    height: 88%;
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0 83px 20px 20px;
    box-shadow:  8px 8px 7px #666666,
    -8px -8px 7px #ffffff;
}

.content-service .div a{
    height: 80%;
    width: 100%;
    position: relative;
    border-radius: 0 83px 15px 15px;
    filter: grayscale(80%);
}

.content-service .div a:hover{
    animation: aclarar 0.2s forwards;
}

@keyframes aclarar{
    0%{
        filter: grayscale(80%);
    }
    20%{
        filter: grayscale(69%);
    }
    25%{
        filter: grayscale(58%);
    }
    45%{
        filter: grayscale(47%);
    }
    50%{
        filter: grayscale(36%);
    }
    70%{
        filter: grayscale(25%);
    }
    75%{
        filter: grayscale(14%);
    }
    100%{
        filter: grayscale(0);
        filter: contrast(1.7);
    }
}

/*div de suma*/

.content-service .div a .div-plus{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 60px;
    background: #222222;
    border-radius: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
    filter: contrast(2);
}

.content-service .div a:hover > .div-plus{
    width: 150px;
    opacity: 1;
    background: #5f8a02;
}

.content-service .div a:hover > .div-plus > .icon-plus-1{
    display: none;
}

.content-service .div a:hover > .div-plus > .div-plus-txt > span{
    display: block;
}

.div-plus .icon-plus-1{
    font-size: 22px;
    color: #fff;
}

.div-plus .div-plus-txt{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-plus .div-plus-txt span{
  display: none;
  animation: aparecer 0.5s linear;
  font-size: 35px;
  border-radius: 50%;
}

@keyframes aparecer{
    0%{
        font-size: 0px;
    }
    100%{
        font-size: 35px;
    }
}

.content-service .div a span img{
    height: 100%;
    width: 100%;
    border-radius: 0 80px 0 0;
}

.content-service .div .description-service{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 10px;
    background: #fff;
    border-radius: 0 0 17px 17px;
}

.description-service h3{
    font-weight: 700;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #253743;
}

.description-service p{
    text-align: justify;
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 200;
    font-size: 18px;
    color: #253743;
}


/*INICIO 3*/

/* === Google Font Import - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*
body{

}*/

.slide3{
  position: relative;  
  height: 450px;
  width: 1075px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 3px solid red;
}

.swiper{
  width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #7d2ae8;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
  z-index: 100;
  cursor: pointer;
  height: 185px;
  overflow: hidden;
  transition: all 0.5s;
}

.card .card-content:hover{
    height: 400px;

}

.card .card-content:hover > .image{
    height: 140px;
    width: 90%;
}

.slide3 .card .image{
  height: 250px;
  width: 250px;
  padding: 3px;
  background: #7d2ae8;
}

.slide3 .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 3px solid #fff;
  cursor: pointer;
}

.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eeeedd;
  height: 100%;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 7px;
} 

.name-profession .name{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: #253743;
  font-style: italic;
}

.name-profession .profession{
  font-size:15px;
  font-weight: 500;
  text-align: justify;
  color: #253743;
}

.swiper-pagination{
  position: absolute;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #7d2ae8;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #7d2ae8;
}