@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100&display=swap');

.info-fijo{
    background: #f8f8f8;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.info-fijo div:nth-child(1){
    color: #253743;
    font-size: 1.4em;
    font-weight: 600;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-fijo div:nth-child(2){
    color: #253743;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.info-fijo div:nth-child(3){
    color: #253743;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.info-fijo div:nth-child(2) div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    font-size: .85em;
    font-family: "Roboto", sans-serif;
}

.info-fijo div:nth-child(3) div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    font-size: .85em;
    font-family: "Roboto", sans-serif;
}



/*ESTILO MUY IMPORTANTE*/
header.abajo {
    background: purple;
    margin-top: -0px;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.7s;
    background-color: #222;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    margin-top: 60px;
    z-index: 10;
}
/*
header .logo{
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}
*/

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header nav ul li:hover > a:not(.label){
    color: #fff;
    transition: all 0.7s ease-out;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 90px;
}

header ul li{
    list-style: none;
    color: #fff;
}

header ul .nav-li{
    padding: 0px 0px 10px 0px;
    position: relative;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    border: 2px solid transparent;
}

header ul .nav-li span{
    font-size: 12px;
    color: #a5214b;
}

header ul .nav-li:hover{
    overflow: visible;
}

header ul .nav-li ul{
    display: grid;
    /*padding: 10px 20px 10px 10px;*/
    position: absolute;
    top: 30px;
    height: auto;
    width: auto;
    z-index: 2;
    border-radius: 0 0 7px 7px;
    background: #222;
    gap: 0;

}

header ul .nav-li ul li{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;

}

header ul .nav-li ul li a{
    text-decoration: none;
    font-size: 15px;
    width: 100%;
    margin: 0px !important;
    text-align: left;
    white-space: nowrap;
    text-transform: capitalize;
    font-weight: 500;
    padding: 15px 30px 15px 10px;
    border-bottom: 1px solid #fff;
}

header ul .nav-li ul li a:nth-child(4){
    background: #851a3b;
}

header ul .nav-li ul li a:hover{
    background: #253743;
}


header ul .nav-li::before{
    content: '';
    width: 0;
    height: 10%;
    position: absolute;
    top: 90%;
    right: 100%;
    transform: translate(100%);
    background: #851a3b;
    transition: .8s ease;
    display: block;
    z-index: -1;
}

header ul .nav-li:hover::before {
    width: 105%;
}
   
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

header ul .contactanos{

    font-family: "Roboto", sans-serif;
    font-size: 15px;
    padding: 1em 1em;
    font-weight: 500;
    background: #851a3b;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
   }
   
.label {
    position: relative;
    top: -1px;
    color: #fff;
   }
   
.transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 900ms;
    background-color: rgba(145, 24, 160, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   }
   
.contactanos:hover .transition {
    width: 14em;
    height: 14em;
   }
   
.contactanos:active {
    transform: scale(0.97);
   }

header ul .contactanos:hover{
    border: none;
}
/*
.zona1{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../imagenes/cerdo.jpg);
    background-size: cover;
    background-position: center center;
}


header.abajo .logo,
header.abajo ul li a{
    color: #000;
}
*/

.contenedor-logo{
    width: 15%;
    min-width: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    z-index: 1;
}

header .svg-img{
    position: relative;
    width: 160px;
    height: 160px;
}

header .svg-img svg{
    position: absolute;
}

header .svg-img:hover > svg{
    animation: mover 1s linear;
}

@keyframes mover{
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-5px, 5px);
     transform: translate(-5px, 5px);
    }
   
    40% {
     -webkit-transform: translate(-5px, -5px);
     transform: translate(-5px, -5px);
    }
   
    60% {
     -webkit-transform: translate(5px, 5px);
     transform: translate(5px, 5px);
    }
   
    80% {
     -webkit-transform: translate(5px, -5px);
     transform: translate(5px, -5px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }

header .svg-img img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

svg{
    filter:drop-shadow(1px 1px 3px rgb(206, 202, 202))
}