@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100&display=swap');

.info-fijo {
    background: #f8f8f8;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    user-select: none;
    width: 100%;
}

.info-fijo div:nth-child(1) {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-fijo div:nth-child(1) p {
    color: #253743;
    font-size: 1.2vw;
    font-weight: 600;
    font-style: italic;
    font-family: "Roboto", sans-serif;
}

.info-fijo div:nth-child(2) {
    color: #253743;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.info-fijo div:nth-child(3) {
    color: #253743;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-right: 50px;
}

.info-fijo div:nth-child(2) div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
}

.info-fijo div:nth-child(3) div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
}

/*ESTILO MUY IMPORTANTE*/
header.abajo {
    background-color: #222;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    margin-top: -0px;
}

header.abajo ul {
    height: 50px;
}

header.abajo .contenedor-logo {
    transform: scale(0);
}

header.abajo nav ul .nav-li a {
    font-size: 12px;
}

header.abajo nav ul li .contactanos {
    padding: .5em .5em;
}

header.abajo nav ul li .contactanos .label {
    font-size: 12px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    background-color: #222;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    margin-top: 60px;
    z-index: 5;
    user-select: none;
}

/*Contendor Logo*/

.contenedor-logo {
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 15px;
    top: 0;
    z-index: 6;
    transition: all .5s ease-in;
}

header .svg-img img {
    width: 100%;
    filter: drop-shadow(0 0 0.35rem #565958);
}

header .svg-img a img:hover {
    animation: mover 1s linear;
}

@keyframes mover {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
    }

    40% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }

    60% {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
    }

    80% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header nav ul li:hover>a:not(.label) {
    color: #fff;
    transition: all 0.7s ease-out;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 90px;
    gap: 15px;
}

header ul li {
    list-style: none;
    color: #fff;
}

header ul .nav-li {
    padding: 0px 0px 10px 0px;
    position: relative;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    border: 2px solid transparent;
}

header ul .nav-li span {
    font-size: 12px;
    color: #a5214b;
}

header ul .nav-li:hover {
    overflow: visible;
}

header ul .nav-li ul {
    display: grid;
    position: absolute;
    top: 30px;
    height: auto;
    width: auto;
    z-index: 2;
    border-radius: 0 0 7px 7px;
    background: #222;
    gap: 0;

}

header ul .nav-li ul li {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;

}

header nav ul .nav-li ul li a {
    text-decoration: none;
    font-size: 1vw;
    width: 100%;
    margin: 0px !important;
    text-align: left;
    white-space: nowrap;
    text-transform: capitalize;
    font-weight: 500;
    padding: 15px 30px 15px 10px;
    border-bottom: 1px solid rgb(199, 197, 197);
}

header ul .nav-li ul li a:hover {
    background: #253743;
}

header ul .nav-li::before {
    content: '';
    width: 0;
    height: 10%;
    position: absolute;
    top: 90%;
    right: 100%;
    transform: translate(100%);
    background: #851a3b;
    transition: .8s ease;
    display: block;
    z-index: -1;
}

header ul .nav-li:hover::before {
    width: 105%;
}

ul>.nav-li.active>a {
    background: yellow;
    color: black;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}


header ul .contactanos {
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
    font-weight: 500;
    border: 2px solid #851a3b;
    position: relative;
    border-radius: 0.6em;
    padding: 1em 1em;
    transition: all .5s ease;

}

header ul .contactanos:hover {
    background: rgb(73, 29, 42);
    background: linear-gradient(0deg, rgb(92, 36, 53) 0%, rgba(133, 26, 59, 1) 100%);
}

header ul .contactanos:hover .label {
    color: #fff;
}

.label {
    color: #c72357;
}

.contactanos:active {
    transform: scale(0.97);
}

header ul .contactanos:hover {
    border: none;
}





/*Responsive*/

