.content-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.content-us:nth-child(1) {
  height: 650px;
}

.content-us:nth-child(1) .header-div {
  position: absolute;
  height: auto;
  width: 90%;
  top: 20%;
}

.content-us:nth-child(1) .header-div h1,
h3 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'Staatliches', cursive;
  text-shadow: black 0.08em 0.08em 0.1em;
}

.content-us:nth-child(1) .header-div h1 {
  font-size: 3.2vw;

}

.content-us:nth-child(1) .header-div h3 {
  font-size: 2.2vw;
}

.content-us:nth-child(1) .us-description {
  width: 90%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-us:nth-child(1) img {
  width: 100%;
  height: 100%;
  filter: contrast(1.5);
}

:root {
  --base: #9afee0;
  --bg-blend: multiply;
  --blur: 0px;
  --fg-blend: lighten;
  --foreground: #000000;
  --opacity: 1;
  --spacing: 0px;
}

.content-us:nth-child(1) .us-description {
  background-color: var(--base);
  display: flex;
  overflow: hidden;
  padding: var(--spacing);
  position: relative;
}

.content-us:nth-child(1) .us-description img {
  filter: grayscale(100%) contrast(1) blur(var(--blur));
  mix-blend-mode: var(--bg-blend);
  object-fit: cover;
  opacity: var(--opacity);
  position: relative;
}

.content-us:nth-child(1) .us-description::before {
  background-color: var(--foreground);
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  mix-blend-mode: var(--fg-blend);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.content-us:nth-child(1) .us-description {
  -moz-border-radius: 0 20% / 0 50%;
  -webkit-border-radius: 0 20% / 0 50%;
  border-radius: 0 20% / 0 50%;
  background: #086587;
  box-shadow: 5px 5px 10px #222222,
    -5px -5px 10px #222222;
}

.content-us:nth-child(1) .us-description img {
  background-size: cover;
}

.content-us:nth-child(1) .description-div {
  position: absolute;
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  bottom: 16%;
}

.content-us:nth-child(1) .description-div .png1 {
  width: 28%;
  filter: grayscale(0);
}

.content-us:nth-child(1) .description-div .png2 {
  width: 38%;
  filter: grayscale(0);
}

.content-us:nth-child(1) .description-div p {
  height: 100%;
  width: 90%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5vw;
  border-radius: 20px;
  text-shadow: black 0.08em 0.08em 0.1em;
}

.content-us:nth-child(2) {
  height: 380px;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 50px;
}

.content-us .title-us {
  height: 10%;
}

.content-us .title-us h2 {
  text-transform: uppercase;
  font-size: 1.7em;
  text-shadow: black 0.03em 0.03em 0.07em;
  color: #253743;
}

.content-us:nth-child(2) .us-pdf {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 80%;
  border-radius: 20px;
}

.content-us:nth-child(2) .us-pdf div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*animación de cards a través de universe*/

.content-us .us-pdf .pdf-div {
  width: 254px;
  height: 194px;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.content-us .us-pdf .pdf-div::before {
  content: '';
  position: absolute;
  width: 95px;
  background-image: linear-gradient(180deg, rgb(146, 31, 20), rgb(146, 31, 20));
  height: 200%;
  animation: rotBGimg 4s linear infinite;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.content-us .us-pdf .pdf-div::after {
  content: '';
  position: absolute;
  background: #253743;
  inset: 5px;
  border-radius: 15px;
}

/*END*/

.content-us .us-pdf div img {
  position: absolute;
  top: -55px;
  right: 0;
  width: 80px;
  z-index: 2;
  filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.7));
}

.content-us .us-pdf div .pdf-div p {
  z-index: 1;
  width: 90%;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

.content-us:nth-child(3) {
  height: 500px;
  flex-direction: column;
  gap: 20px;
}

.content-us:nth-child(3) .us-mvsion {
  height: 85%;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-us:nth-child(3) .us-mvsion .mvsion-div {
  height: 95%;
  border-radius: 25px;
}

.mvsion-div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto !important;
  border-radius: 0px !important;
  width: 53%;
}

.mvsion-div:nth-child(1) p {
  color: #666666;
  text-align: justify;
  padding: 15px;
  font-size: 1vw;
}

.mvsion-div:nth-child(1) .us-tipos-proyectos {
  width: 100%;
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  justify-items: center;
  height: 170px;
}

.mvsion-div:nth-child(1) .us-tipos-proyectos div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.mvsion-div:nth-child(1) .us-tipos-proyectos div p {
  text-align: center;
  font-size: 15px;
  opacity: 0;
  transition: all 0.3s ease-in;
  color: #253743;
  font-weight: 500;
}

.mvsion-div:nth-child(1) .us-tipos-proyectos div .fi {
  font-size: 50px;
  color: #666664;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

.mvsion-div:nth-child(1) .us-tipos-proyectos div .fi:hover {
  font-size: 80px;
  color: var(--clr);
}

.mvsion-div:nth-child(1) .us-tipos-proyectos div .f1:hover~.p1 {
  opacity: 1;
}

.mvsion-div:nth-child(1) .us-tipos-proyectos div .f2:hover~.p2 {
  opacity: 1;
}

.mvsion-div:nth-child(1) .us-tipos-proyectos div .f3:hover~.p3 {
  opacity: 1;
}

.mvsion-div:nth-child(1) .us-tipos-proyectos div .f4:hover~.p4 {
  opacity: 1;
}

.mvsion-div:nth-child(1) .us-tipos-proyectos div .f5:hover~.p5 {
  opacity: 1;
}

.mvsion-div:nth-child(1) .us-tipos-proyectos div .f6:hover~.p6 {
  opacity: 1;
}

.mvsion-div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
}

/*CONTENT-US-3*/

.card-mvsion {
  width: 190px;
  height: 254px;
  background: #f5f5f5;
  overflow: visible;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #8a1e18;
  border-radius: 10px;
}

.mvsion-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 1rem;
}

.mvsion-img {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transform: translateY(-50%);
  background: #42caff;
  background: linear-gradient(to bottom, #42caff 0%, #e81aff 100%);
  position: relative;
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.mvsion-img::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  border: 1rem solid #222222;
}

.mvsion-info p:nth-child(1) {
  font-size: 0.8em;
  text-align: center;
  color: #253743;
  font-weight: 400;
  font-style: italic;
}

.mvsion-info p:nth-child(2) {
  color: #253743;
  font-weight: 600;
  font-size: 1.2em;
  border: 1px solid red;
}

/*Hover*/
.card-mvsion:hover .mvsion-img {
  --size: 110px;
  width: var(--size);
  height: var(--size);
}

/*RESPONSIVE NOSOTROS*/

@media (max-width: 1200px) {

  .content-us:nth-child(1) {
    height: 600px;
  }

  .mvsion-div:nth-child(1) p {
    font-size: 1.6vw;
  }

  .content-us:nth-child(1) .header-div h1 {
    font-size: 3.7vw;

  }

  .content-us:nth-child(1) .header-div h3 {
    font-size: 2.7vw;
  }

  .content-us:nth-child(1) .description-div p {
    font-size: 2.3vw;
    padding: 20px;
  }

  .content-us:nth-child(3) {
    height: auto;
    flex-direction: column;
  }

  .content-us:nth-child(3) .us-mvsion {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .content-us:nth-child(3) .us-mvsion .mvsion-div {
    height: 95%;
    width: 95%;
  }

  .mvsion-div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .mvsion-div:nth-child(2) {
    height: 380px !important;
  }
}

@media (max-width: 1000px) {
  .content-us:nth-child(1) {
    height: 550px;
  }

  .mvsion-div:nth-child(1) p {
    font-size: 1.9vw;
  }

}

@media (max-width: 920px) {
  .content-us:nth-child(1) {
    height: 450px;
  }
  .mvsion-div:nth-child(1) p {
    font-size: 2.2vw;
  }

  .content-us:nth-child(2) {
    height: auto;
    flex-direction: column;
    padding-bottom: 50px;
  }

  .content-us:nth-child(2) .us-pdf {
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    padding-top: 80px;
  }

  .mvsion-div:nth-child(1) {
    width: 100% !important;
  }
}

@media (max-width: 650px) {
  .content-us:nth-child(1) .header-div h1 {
    font-size: 3.9vw;
  }

  .content-us:nth-child(1) .header-div h3 {
    font-size: 2.9vw;
  }

  .content-us:nth-child(1) .description-div p {
    font-size: 2.7vw;
  }

  .mvsion-div:nth-child(1) .us-tipos-proyectos {
    height: 150px;
  }

  .mvsion-div:nth-child(1) .us-tipos-proyectos div p {
    font-size: 12px;
  }

  .mvsion-div:nth-child(1) .us-tipos-proyectos div .fi {
    font-size: 40px;
  }

  .mvsion-div:nth-child(1) .us-tipos-proyectos div .fi:hover {
    font-size: 70px;
    color: var(--clr);
  }
}

@media (max-width: 650px) {
  .content-us:nth-child(1) {
    height: 350px;
  }
  .mvsion-div:nth-child(1) p {
    font-size: 2.6vw;
  }
  .content-us:nth-child(1) .description-div p {
    width: 95%;
  }
}