*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
    /*border: 1px solid blue;*/
}

.inicio-1, .inicio-2, .inicio-3, .inicio-4, .inicio-5, .inicio-6, .inicio-7{
    height: 680px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 3px solid green;
}

.inicio-3{
    background: darkseagreen;
}

.inicio-8{
    height: 340px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 3px solid green;
}

body{
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}


.contenedorPadre{
}

.fa{
    color: #fff;
    font-size: 35px;
}