@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilos al Scrollbar*/

/* Personaliza la scrollbar */
::-webkit-scrollbar {
    width: 16px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 8px;
    border: 2px solid #f5f5f5;
  }
  
  /* Hover y focus styles */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
  }
  
  ::-webkit-scrollbar-thumb:focus {
    background-color: #4e4e4e;
    border: 2px solid #a1a1a1;
  }
  
  /* Agrega un efecto de sombra a la scrollbar */
  ::-webkit-scrollbar {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }


/*INICIO*/

.inicio-1,
.inicio-2,
.inicio-3,
.inicio-5,
.inicio-4,
.inicio-6,
.inicio-7,
.inicio-8 {
    height: 680px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.inicio-1{
    box-shadow: #222222 0px 12px 10px -10px;
}

@media (max-width: 850px) {
    .inicio-1 {
        height: 500px;
        margin-top: 90px;
    }
}

@media (max-width: 650px) {
    .inicio-1 {
        height: 350px;
        margin-top: 90px;
    }
}

.inicio-2 {
    background: transparent !important;
    height: 750px;
}

@media (max-width: 1300px) {
    .inicio-2 {
        height: auto;
    }
}

.inicio-3 {
    justify-content: center !important;
}

@media (max-width: 1120px) {
    .inicio-4 {
        height: auto;
    }
}

.inicio-6 {
    background: #1a1a1a;
    height: 750px !important;
}

@media (max-width: 1000px) {
    .inicio-6 {
        height: auto !important;
    }
}

.inicio-5 {
    height: 850px !important;
    width: 100% !important;
}

@media (max-width: 1135px) {
    .inicio-5 {
        height: auto !important;
    }
}

.inicio-8 {
    height: 340px !important;
    width: 100% !important;
}

@media (max-width: 1100px) {
    .inicio-7 {
        height: auto !important;
    }
}

.contenedor-us,
.contenedor-services,
.contenedor-services-n,
.contenedor-proyecto,
.contenedor-eleccion-proyecto,
.contenedor-blog-seleccion,
.contenedor-blog {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*Us Window*/

.contenedor-us {
    gap: 50px;
    background: #fff;
}

@media (max-width: 1000px) {
    .content-us:nth-child(1) {
        margin-top: 90px;
    }

}

/*PESTAÑA SERVICES*/
.contenedor-services {
    gap: 40px;
}

/*PESTAÑA SERVICES - OPCION*/
.contenedor-services-n {
    flex-direction: row !important;
    min-height: 700px;
    height: auto;
    padding: 70px 10px 50px 10px;
    gap: 50px;
    margin-top: 90px;
}

/*PROYECTO TIPO & SECTOR*/

.contenedor-proyecto {
    /*Declarado en la parte superior*/
}

/*PROYECTO TIPO & SECTOR - ELECCION*/

.contenedor-eleccion-proyecto {
    flex-direction: row !important;
    min-height: 750px;
    height: auto;
}


/*Contenedor-Blog*/
.contenedor-blog {
    align-items: flex-start !important;
    flex-direction: row !important;
}

@media (max-width: 900px) {
    .contenedor-blog {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
}

/*Contenedor-Blog-Selección*/

.contenedor-blog-seleccion {
    gap: 50px;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    height: auto;
    margin-top: 90px;
    padding: 50px;
}

.contenedor-chatbot {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 400px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 20;
    display: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}

.contenedorPadre {
    position: relative;
}

.fa {
    color: #fff;
    font-size: 25px;
}

/*Imágenes Modales para los proyectos seleccionados*/

#myImg {
    cursor: zoom-in;
}

.modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    width: 50%;
    border-radius: 10px;
}

#caption {
    width: 50%;
    text-align: center;
    color: #ccc;
    padding: 10px;
    height: auto;
    border: 2px solid #ccc;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 10px;
}

.modal-content,
#caption {
    animation: zoom 0.5s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    align-self: flex-end;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    margin-right: 30px;
    height: auto;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.aparecerModal{
    display: flex;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 95% !important;
    }
    #caption {
        width: 95% !important;
    }
}

/*PARA EL DESLIZADOR*/

#totop.on {
    left: 10px;
}

#totop.off {
    left: -69px;
}

#totop {
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #171799);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #171799);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 60px;
    height: 60px;
    left: 0;
    top: 70%;
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

#totop .fi {
    font-size: 22px;
    color: #fff;
}