.contenedor-eleccion-proyecto {
    background: #242C39;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto{
    width: 50%;
    min-height: 750px;
    height: auto;
    padding: 10px;
    margin-top: 70px;
}

.content-eleccion-proyecto:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    order: 1;
}

.content-eleccion-proyecto:nth-child(1) .description{
    padding: 10px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
    border-radius: 7px;
    color: #fff;
}
.content-eleccion-proyecto:nth-child(1) .description:nth-child(1){
    margin-right: 55px;
}
.content-eleccion-proyecto:nth-child(1) .description:nth-child(2){
    margin-right: 110px;
}
.content-eleccion-proyecto:nth-child(1) .description:nth-child(3){
    width: 50%;
    text-align: center;
    align-self: center;
    color: #20b4e6;
}

.content-eleccion-proyecto:nth-child(1) .content-itemProyecto{
    align-self: center;
    width: 400px;
    height: auto;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px auto;
    overflow: hidden;
    gap: 15px;
}

.content-itemProyecto img{
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.content-itemProyecto div{
    width: 100%;
    height: 100%;
    padding: 0 15px 15px 15px;
}

.content-itemProyecto div p{
    text-align: justify;
    font-size: 13px;
    color: #fff;
    line-height: 1.5em;
}

.content-eleccion-proyecto:nth-child(2){
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-eleccion-proyecto:nth-child(2)>div{
    width: 70%;
    min-width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
    gap: 20px;

}

.content-eleccion-proyecto:nth-child(2)>div .child-itemProyecto:nth-child(1){
    width: 25%;
    min-height: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.content-eleccion-proyecto:nth-child(2)>div .child-itemProyecto:nth-child(1) span{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    gap: 10px;
}

.content-eleccion-proyecto:nth-child(2)>div .child-itemProyecto:nth-child(1) span p{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}

.content-eleccion-proyecto:nth-child(2)>div .child-itemProyecto:nth-child(1) span .fi{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 20px;
}

.content-eleccion-proyecto:nth-child(2)>div .child-itemProyecto:nth-child(1) span .tagItem{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.content-eleccion-proyecto:nth-child(2)>div .child-itemProyecto:nth-child(2){
    width: 75%;
    min-height: 350px;
    height: auto;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
    border-radius: 7px;
    position: relative;
}

.content-eleccion-proyecto:nth-child(2)>div .child-itemProyecto:nth-child(2) div{
    width: 100%;
    height: 100%;
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    justify-content: center;
    align-content: center;
    border-radius: 7px;
    position: absolute;
}

.content-eleccion-proyecto:nth-child(2)>div .child-itemProyecto:nth-child(2) img{
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 7px 7px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.content-eleccion-proyecto:nth-child(2)>div .child-itemProyecto:nth-child(2) h3{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: #951d1d 0.08em 0.08em 0.15em;
    letter-spacing: 2px;
}

.activate{
    display: grid !important;
}

@media (max-width: 1070px){
    .contenedor-eleccion-proyecto {
        flex-direction: column !important;
        gap: 20px;
    }
    .content-eleccion-proyecto:nth-child(1){
        width: auto;
    }

    .content-eleccion-proyecto:nth-child(2){
        align-items: flex-start;
        width: auto;
        min-height: auto;
        margin-top: 0px;
    }
}

@media (max-width: 650px){
    .content-eleccion-proyecto:nth-child(2){
        width: 95%;
    }
    
    .content-eleccion-proyecto:nth-child(2)>div{
        width: 95% !important;
        min-width: auto;
    }
    .content-eleccion-proyecto:nth-child(2)>div .child-itemProyecto:nth-child(1){
        min-height: 300px;

    }
    .content-eleccion-proyecto:nth-child(2)>div .child-itemProyecto:nth-child(2){
        min-height: 300px;
    }

    .content-eleccion-proyecto:nth-child(2)>div .child-itemProyecto:nth-child(1) span {
        gap: 5px;
    }
    .content-eleccion-proyecto:nth-child(2)>div .child-itemProyecto:nth-child(1) span p{
        font-size: 11px;
    }
    
    .content-eleccion-proyecto:nth-child(2)>div .child-itemProyecto:nth-child(1) span .fi{
        font-size: 15px;
    }


}


