.content-proyecto {
    width: 100%;
}

.content-proyecto:nth-child(1) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    height: 600px;
    box-shadow: -5px 5px 5px #222222,
        5px -5px 5px #222222, 5px 5px 5px #222222,
        -5px -5px 5px #222222;
}

.content-proyecto:nth-child(1) p {
    width: 60%;
    color: #fff;
    font-family: 'Staatliches', cursive;
    text-shadow: black 0.08em 0.08em 0.1em;
    height: 60%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 2.5vw;
    text-align: justify;
    user-select: none;
}

.content-proyecto:nth-child(1) img {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    z-index: 1;
}

.content-proyecto:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 30px;
}

.content-proyecto:nth-child(2) div {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}

.content-proyecto:nth-child(2) div:nth-child(1) {
    justify-content: flex-start;
}

.content-proyecto:nth-child(2) div:nth-child(1) p {
    width: 90%;
    text-align: start;
    font-family: 'Staatliches', cursive;
    text-shadow: rgb(67, 63, 63) 0.02em 0.02em 0.05em;
    font-size: 3.5vw;
    color: #253743;
    user-select: none;
    padding-left: 20px;
}

/*PROYECYO POR TIPO*/

.content-proyecto:nth-child(2) div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    order: 3;
    padding-left: 20px;
    padding-right: 20px;
}

/*PROYECTO POR SECTOR*/
.content-proyecto:nth-child(2) .sector-style {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    column-gap: 30px !important;
    order: 3;
    padding-left: 20px;
    padding-right: 20px;
}

.content-proyecto:nth-child(2) .sector-style .fancy{
    letter-spacing: 1px !important;
}


.content-proyecto:nth-child(2) .sector-style .fancy .text{
    font-size: 0.9vw;
}

.content-proyecto:nth-child(2) .buscador-tipo-2{
    order: 2;
}

.content-proyecto:nth-child(2) .buscador-tipo-2 input {
    padding: 15px 20px 15px 20px;
    border-radius: 7px;
    color: #253743;
    background: #fff;
}

.content-proyecto:nth-child(2) .buscador-tipo-2 input:nth-child(1) {
    border: 3px solid #304d60;
    width: 300px !important;
}

.content-proyecto:nth-child(2) .buscador-tipo-2 input:nth-child(1):focus {
    outline: none;
}

.content-proyecto:nth-child(2) .buscador-tipo-2 input:nth-child(2) {
    width: 150px !important;
    margin-left: 10px;
    border: 3px solid #166516;
    color: #166516;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.content-proyecto:nth-child(2) .buscador-tipo-2 input:nth-child(2):hover {
    color: #fff;
    background-image: linear-gradient(to right, #414d0b 0%, #727a17 51%, #414d0b 100%);
}

/*BUTTON PARA LOS */
.fancy {
    border: 2px solid #253743;
    box-sizing: border-box;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 15px 5px 15px 5px;
    overflow: visible;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    user-select: none;
    cursor: pointer;
}

.fancy::before {
    content: " ";
    width: 10px;
    height: 2px;
    background: #253743;
    top: 50%;
    left: 5px;
    position: absolute;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #253743;
    font-size: 1.1vw;
}

.fancy .top-key {
    height: 2px;
    width: 2rem;
    top: -2px;
    left: 1em;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 2rem;
    right: 1em;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 1em;
    right: 1em;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: #253743;
}

.fancy:hover::before {
    width: 13px;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

/*END BUTTONS*/

.content-proyecto:nth-child(3) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 50px;
}

.content-proyecto:nth-child(3) .parent-button-div {
    height: 360px;
    width: 350px;
    box-shadow: 5px 5px 6px #5a5a5a;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.content-proyecto:nth-child(3) .parent-button-div .button-div {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 100;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.content-proyecto:nth-child(3) .parent-button-div:hover .button-div {
    transform: scale(1);
}

.content-proyecto:nth-child(3) .parent-button-div:hover img {
    filter: brightness(50%);
}

.content-proyecto:nth-child(3) .parent-button-div img {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: contrast(1.5);
    border: 1px solid #70777c;
}

.content-proyecto:nth-child(3) div div p {
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    user-select: none;
}

/*BUTTON PARA EL INDIVIDUAL DE PROYECTOS*/

.c-button {
    color: #000;
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.c-button--gooey {
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 2px;
    border: 4px solid #fff;
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
}

.c-button--gooey .c-button__blobs div {
    background-color: #fff;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}

.c-button--gooey:hover {
    color: #253743;
}

.c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
}

@media (max-width: 1183px){
    .content-proyecto:nth-child(3) {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (max-width: 1100px) {

    .content-proyecto:nth-child(1) p {
        font-size: 3vw;
    }

    .fancy {
        letter-spacing: 0px;
    }

    .fancy .text {
        font-size: 1.1vw !important;
    }

    .content-proyecto:nth-child(2) div:nth-child(2) form input {
        padding: 10px 15px 10px 15px;
    }

    .content-proyecto:nth-child(2) div:nth-child(2) form input:nth-child(1) {
        width: 65%;
    }

    .content-proyecto:nth-child(2) div:nth-child(2) form input:nth-child(2) {
        width: 30% !important;
    }
    .content-proyecto:nth-child(3) {
        padding-top: 0px;
        padding-bottom: 50px;
    }
    .content-proyecto:nth-child(2) div:nth-child(1) p {
        font-size: 3.8vw;
    }
}

@media (max-width: 800px){

    .content-proyecto:nth-child(1) p {
        font-size: 3.5vw;
    }
    .fancy .text {
        font-size: 1.4vw !important;
    }
    .content-proyecto:nth-child(2) div:nth-child(2) {
        gap: 5px;
    }

    .content-proyecto:nth-child(2) div:nth-child(1) p {
        font-size: 4vw;
    }
}

@media (max-width: 750px){
    .content-proyecto:nth-child(3) {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}

@media (max-width: 700px){
    .content-proyecto:nth-child(1) {
        height: 500px;
    }
}

@media (max-width: 680px){

    .content-proyecto:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 100%;
        gap: 30px;
    }

    .content-proyecto:nth-child(2) div:nth-child(1) p {
        font-size: 4.2vw;
    }

    /*PROYECTO POR TIPO*/
    .content-proyecto:nth-child(2) div:nth-child(2) {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow-x: auto;
        white-space: nowrap;
        padding-left: 250px;
        width: 440px;
        gap: 20px;
        box-shadow: 0px -3px 2px #5a5a5a, -5px 3px 2px #ffffff;
    }

    /*PROYECTO POR SECTOR*/
    .content-proyecto:nth-child(2) .sector-style {
        padding-left: 435px !important;
    }

    .content-proyecto:nth-child(2) div {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .fancy {
        width: 200px !important;
    }

    .content-proyecto:nth-child(2) div:nth-child(2) form{
        border: 3px solid black;
        width: auto;
    }

    .content-proyecto:nth-child(2) div:nth-child(2) form input {
        padding: 10px 15px 10px 15px;
    }

    .fancy .text {
        font-size: 13px !important;
    }

    .content-proyecto:nth-child(2) div:nth-child(2) form input:nth-child(1) {
        width: 150px !important;
    }

    .content-proyecto:nth-child(2) div:nth-child(2) form input:nth-child(2) {
        width: 100px !important;
    }

    .content-proyecto:nth-child(3) {
        padding-top: 0px;
        padding-bottom: 50px;
    }
    
}

@media (max-width: 580px){
    .content-proyecto:nth-child(1) {
        height: 400px;
    }
}