.contenedor-eleccion-proyecto {}

.contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) .pngPortada {
    background-image: url("../imagenes/proyectsandservices/proyectos/portadaServiceItem.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    top: 0;
    filter: brightness(30%);
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto {
    width: 100%;
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(1) {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #232323, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #232323, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    padding-left: 70px;
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(1) h1 {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-shadow: black 0.03em 0.03em 0.05em;
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(1) h2 {
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5da8da;
    font-size: 20px;
    width: 60%;
    text-align: justify;
    text-shadow: black 0.02em 0.02em 0.04em;
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(1) span{
    min-width: 35px;
    position: absolute;
    background: #bc1401;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ac0707, #b51200);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ac0707, #b51200); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 50%;
    left: 20px;    
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) {
    min-height: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 50px 0px 50px 0px;
    position: relative;
    width: 100% !important;
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) div:nth-child(1) {
    width: 30%;
    min-width: 448px;
    height: auto;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    position: relative;
    background: #fff;
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) div:nth-child(1) h1 {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #253743;
    font-size: 25px;
    position: relative;
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) div:nth-child(1) h1::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50%;
    height: 4px;
    background: rgb(191, 16, 51);
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) div:nth-child(1) p {
    text-align: justify;
    color: #253743;
    font-size: 13px;
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) div:nth-child(1) .servPng1 {
    position: absolute;
    width: 120px;
    bottom: 0;
    right: 0;
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) div:nth-child(1) .servPng2 {
    position: absolute;
    width: 120px;
    top: 0;
    left: 0;
    transform: rotate(180deg);
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) div:nth-child(2) {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 448px;

}

.contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) div:nth-child(2) img {
    width: 100%;
    height: 100%;
    border: 2px solid #757575;
    border-radius: 10px;
    cursor: zoom-in;
}

@media (max-width:980px){

    .contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) {
        flex-direction: column;
        align-items: center;
    }
    .contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) div:nth-child(1) {
        width: 90%;
    }

    .contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) div:nth-child(2) {
        width: 60%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 600px){

    .contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) {
        flex-direction: column;
        align-items: center;
    }
    .contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) div:nth-child(1) {
        width: 95%;
    }

    .contenedor-eleccion-proyecto .content-eleccion-proyecto:nth-child(2) div:nth-child(2) {
        width: 95%;
    }

}