.contenedor-eleccion-proyecto {
    /*background: #242C39;*/
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 20px;
}

.contenedor-eleccion-proyecto .imgPortadaProyecto{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../imagenes/proyectsandservices/proyectos/portadaParaItem/fondoProyectoItem.jpg");
    background-attachment: fixed;
    background-size: cover;
    filter: saturate(10%);
}

.contenedor-eleccion-proyecto .content-eleccion-proyecto{
    width: 100%;
    min-height: 550px;
    height: auto;
}

.content-eleccion-proyecto:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    order: 1;
    margin-top: 70px;
}

.content-eleccion-proyecto:nth-child(1) .titleCategory{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.content-eleccion-proyecto:nth-child(1) .titleCategory .description{
    padding: 10px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
    border-radius: 7px;
    color: #fff;
    width: auto !important;
    background: #242C39;
}

.titleCategory .description h1, .titleCategory .description h2, .titleCategory .description h3{
    width: auto !important;
    text-transform: uppercase;
}


.content-eleccion-proyecto:nth-child(1) .titleCategory .description:nth-child(1) {
    margin-left: 20px !important;
    letter-spacing: 3px;
}
.content-eleccion-proyecto:nth-child(1) .titleCategory .description:nth-child(2){
    margin-left: 40px !important;
    letter-spacing: 3px;
}
.content-eleccion-proyecto:nth-child(1) .titleCategory .description:nth-child(3){
    margin-left: 60px !important;
    color: #20b4e6;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.5em;
}

.content-eleccion-proyecto:nth-child(1) .content-itemProyecto{
    align-self: center;
    width: 500px;
    height: auto;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px auto;
    overflow: hidden;
    gap: 15px;
    background: #242C39;
}

.content-itemProyecto img{
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.content-itemProyecto div{
    width: 100%;
    height: 100%;
    padding: 0 15px 15px 15px;
}

.content-itemProyecto div p{
    text-align: justify;
    font-size: 13px;
    color: #fff;
    line-height: 1.5em;

}

.content-eleccion-proyecto:nth-child(2){
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.content-eleccion-proyecto:nth-child(2) .galeryItem{
    width: 45%;
    min-width: 583.91px;
    height: 30vw;
    min-height: 398px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
    background: #242C39;
}

.content-eleccion-proyecto:nth-child(2) .galeryItem .child-itemProyecto:nth-child(1){
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
}

.content-eleccion-proyecto:nth-child(2) .galeryItem .child-itemProyecto:nth-child(1) .electionItem{
    width: 80%;
    min-width: 104.77px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    gap: 10px;
}

.content-eleccion-proyecto:nth-child(2) .galeryItem .child-itemProyecto:nth-child(1) .electionItem p{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}

.content-eleccion-proyecto:nth-child(2) .galeryItem .child-itemProyecto:nth-child(1) .electionItem .fi{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 20px;
}

.content-eleccion-proyecto:nth-child(2) .galeryItem .child-itemProyecto:nth-child(1) .electionItem .tagItem{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.content-eleccion-proyecto:nth-child(2) .galeryItem .child-itemProyecto:nth-child(2){
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content-eleccion-proyecto:nth-child(2) .galeryItem .child-itemProyecto:nth-child(2) .itemGalery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
}

.content-eleccion-proyecto:nth-child(2) .galeryItem .child-itemProyecto:nth-child(2) .itemGalery img{
    height: 80%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.content-eleccion-proyecto:nth-child(2) .galeryItem .child-itemProyecto:nth-child(2) .itemGalery h3{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: #951d1d 0.08em 0.08em 0.15em;
    letter-spacing: 2px;
    font-size: 30px;
}

.content-eleccion-proyecto:nth-child(2) .descriptionGalery{
    width: 40%;
    height: auto;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #242C39;
}

.content-eleccion-proyecto:nth-child(2) .descriptionGalery p{
    font-size: 25px;
    letter-spacing: 3px;
    color: #fff;
    line-height: 1.5em;
    text-align: center;
}

.activate{
    display: flex !important;
}

@media (max-width: 1065px){
    .content-eleccion-proyecto:nth-child(1){
        flex-direction: column !important;
        margin-top: 90px;
    }
    .content-eleccion-proyecto:nth-child(1) .titleCategory{
        width: 100%;
    }
    .content-eleccion-proyecto:nth-child(2){
        flex-direction: column !important;
    }
    .content-eleccion-proyecto:nth-child(2) .galeryItem{
        order: 2;
    }
    .content-eleccion-proyecto:nth-child(2) .descriptionGalery{
        width: 100%;
        order: 1;
    }
    .contenedor-eleccion-proyecto{
        padding: 10px;
    }
}

@media (max-width: 600px){
    .content-eleccion-proyecto:nth-child(2) .galeryItem{
        width: 100%;
        min-width: 400px;
        height: 30vw;
        min-height: 320px;
    }
}

@media (max-width: 550px){
    .content-eleccion-proyecto:nth-child(1) .content-itemProyecto{
        width: 100%;
    }
}

