.padre-services-1 {
    width: 100%;
    height: 600px;
    margin-top: 70px;
    box-shadow: -5px 5px 5px #222222,
        5px -5px 5px #222222, 5px 5px 5px #222222,
        -5px -5px 5px #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d6d3c5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    gap: 20px;
}

.content-services-1 {
    width: 45%;
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    order: 2;
}

.content-services-1-portada {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    position: relative;
}

.content-services-1-portada .imagenService{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content-services-1-portada>div {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    overflow: hidden;
    box-shadow: 4px 4px 2px #253743, -4px -4px 2px #253743;
    border: 1px solid #253743;
    position: relative;
    z-index: 2;
}

.content-services-1-portada>div img:hover {
    transform: scale(1.1);
}

.content-services-1-portada img {
    object-fit: contain;
    height: 100%;
    filter: contrast(1.4);
    position: relative;
    transition: all 0.3s ease-in;
    background-attachment: fixed;

}

.content-services-1 .services ul li select {
    font-family: 'Verdana', sans-serif;
    font-size: 15px;
}

.content-services-1 .services:nth-child(1) {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content-services-1 .services:nth-child(1) .content-p {
    width: 95%;
    color: #253743;
    padding: 7px;
    border-radius: 10px;
    opacity: 1;
}

.content-services-1 .services:nth-child(1) .content-p>p {
    margin: 20px;
    font-size: 13px;
    text-align: justify;
}


.content-services-1 .services:nth-child(1) h1,
.content-services-1 .services:nth-child(1) h2 {
    color: #253743;
    font-family: 'Staatliches', cursive;
    width: 90%;
}

.content-services-1 .services:nth-child(1) h1 {
    font-size: 17px;
}

.content-services-1 .services:nth-child(1) h2 {
    font-size: 17px;
    text-align: center;
}

.selectionRegionStatus {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.selectionRegionStatus h2 {
    color: #253743;
    font-family: 'Staatliches', cursive;
    width: 90%;
    text-align: center;
    font-size: 17px;
}

.selectionRegionStatus .services {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectionRegionStatus .services ul {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 20% 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    column-gap: 20px;
    row-gap: 20px;
}

.selectionRegionStatus .services ul li {
    list-style: none;
    position: relative;
    width: 95%;
}

.selectionRegionStatus .services ul li:nth-child(1) select,
.selectionRegionStatus .services ul li:nth-child(2) select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 10px 20px 10px;
    background: #222222;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    border-radius: 10px;
    background: #242C39;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .5);
}

.selectionRegionStatus .services ul li:nth-child(1) select,
.selectionRegionStatus .services ul li:nth-child(2) select:hover {
    filter: brightness(130%);
}

.selectionRegionStatus .services ul li:nth-child(1) select option,
.selectionRegionStatus .services ul li:nth-child(2) select option {
    background: #0F2027;
    border-radius: 0px 0px 0px 0px !important;
    border: none !important;
}

.selectionRegionStatus .services ul li:nth-child(1) select,
.selectionRegionStatus .services ul li:nth-child(2) select:focus {
    outline: none;
}

.selectionRegionStatus .services ul li:nth-child(1) select,
.selectionRegionStatus .services ul li:nth-child(2) select:active {
    outline: none;
}

.selectionRegionStatus .services ul li:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 3;
}

.selectionRegionStatus .services ul li button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 20px 10px;
    color: #242C39;
    background: #eeeeee;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .5);
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 17px;
}

.content-services-2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 80px;
}

.content-services-2 .nothingItem{
    grid-column-start: 1;
    grid-column-end: 3;
    color: #242C39;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    font-family: Proxima Nova,Verdana,Avenir Next;
}

.content-services-2 .services {
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 296.8px;
    width: 550px;
    background: #242C39;
    padding: 0 10px 0 10px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .5);
}

.content-services-2 .services .services-1,
.content-services-2 .services .services-2 {
    width: 50%;
}

.content-services-2 .services .services-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.content-services-2 .services .services-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.content-services-2 .services .services-1 div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: auto;
    padding: 5px;
}

.content-services-2 .services .services-1 div:nth-child(1) {
    border-bottom: 3px solid #fff;
}

.content-services-2 .services .services-1 div:nth-child(1) p {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
}

.content-services-2 .services .services-1 div:nth-child(2) p {
    text-align: justify;
    font-size: 13px;
    color: #fff;
    line-height: 1.5em;
}

.content-services-2 .services .services-2 img {
    filter: contrast(1.2);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*Botón Services*/

a {
    text-decoration: none;
}

.button2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background: #242C39;
    padding: 1em 1.2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
}

.button2 span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 40px;
    background-color: #354e5e;
    border-radius: 50%;
    transition: .6s ease;
    z-index: -1;
}

.button2 span:nth-child(1) {
    transform: translate(-3.3em, -4em);
}

.button2 span:nth-child(2) {
    transform: translate(-6em, 1.3em);
}

.button2 span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
}

.button2 span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
}

.button2 span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
}

.button2:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
}


/*RESPONSIVE SERVICIOS*/

@media (max-width: 1160px) {
    .content-services-2 {
        grid-template-columns: 1fr !important;
    }
}

@media (max-width: 1080px) {
    .content-services-1-portada>div {
        width: 400px !important;
        height: 400px !important;
    }
}

@media (max-width: 925px) {
    .padre-services-1 {
        margin-top: 90px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .content-services-1 {
        width: 95%;
        height: 45%;
    }

    .content-services-1-portada {
        width: 95%;
        height: 45%;
    }

    .content-services-1-portada>div {
        width: 500px !important;
        height: 500px !important;
    }
}

@media (max-width: 871.2px){
    .selectionRegionStatus .services ul {
        grid-template-columns: auto auto !important;
    }
}

@media (max-width: 740px) {

    .content-services-1 .services:nth-child(2) ul li:nth-child(1) select,
    .content-services-1 .services:nth-child(2) ul li:nth-child(2) select {
        padding: 5px 0px 5px 0px !important;
    }

    .content-services-1 .services:nth-child(2) ul li button {
        padding: 5px 0px 5px 0px !important;
    }

    .content-services-2 .services {
        height: 296.8px;
        width: 95% !important;
    }
}

@media (max-width: 600px) {
    .content-services-1 {
        height: 470px;
    }

    .content-services-1 .services:nth-child(1) .content-p {
        padding: 0px;
    }

    .content-services-2 .services-2 {
        height: 60% !important;
    }
}

@media (max-width: 550px) {
    .content-services-1 {
        height: 430px;
    }
    .content-services-1-portada {
        padding-top: 10px;
    }
}

@media (max-width: 500px) {
    .content-services-1 {
        height: 400px;
    }

    .content-services-1-portada>div {
        width: 400px !important;
        height: 400px !important;
    }
}