
.contenedor-services-n .imgPortadaServicios{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../imagenes/proyectsandservices/servicios/fondoServicioItem.jpg");
    background-attachment: fixed;
    background-size: cover;
    filter: brightness(10%);
}

.contenedor-services-n .content-eleccion-servicio-1 {
    height: 482.8px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    min-width: 587px;
}

.contenedor-services-n .content-eleccion-servicio-1 .content-png-imagen-servicio-1{
    position: relative;
    width: 80%;
    height: auto;
}

.contenedor-services-n .content-eleccion-servicio-1 .content-png-imagen-servicio-1 img:nth-child(2){
    position: absolute;
    left: -40px;
    width: 200px;
    top: -20px;
}

.contenedor-services-n .content-eleccion-servicio-1 .content-png-imagen-servicio-1 img:nth-child(1){
    width: 100%;
    height: 100%;
    filter: contrast(1.2);
    cursor: zoom-in !important;
    border-radius: 10px;
    border: 2px solid #898989;
}

.contenedor-services-n .content-eleccion-servicio-1 .agree-label{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.agree-label .services-n-description{
    flex: 1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #331307, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #331307, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 7px;
    gap: 10px;
}

.agree-label .services-n-description p{
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.agree-label .services-n-description img{
    width: auto;
    height: 85%;
}

.contenedor-services-n .content-eleccion-servicio-2 {
    min-height: 482.8px;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.contenedor-services-n .content-eleccion-servicio-2 p {
    color: #fff;
    text-align: justify;
    font-size: 13px;
}

.contenedor-services-n .content-eleccion-servicio-2 h1 {
    text-transform: uppercase;
    color: #5da8da;
    letter-spacing: 3px;
    text-align: center;
    font-size: 25px;
    line-height: 1.5em;
}

@media (max-width: 1080px){
    .contenedor-services-n {
        flex-direction: column !important;
    }

    .contenedor-services-n .content-eleccion-servicio-1{
        width: 90%;
    }

    .contenedor-services-n .content-eleccion-servicio-2{
        width: 90%;
    }   
}

@media (max-width: 650px){
    .contenedor-services-n {
        flex-direction: column !important;
    }

    .contenedor-services-n .content-eleccion-servicio-1{
        width: 100%;
    }

    .contenedor-services-n .content-eleccion-servicio-1 .content-png-imagen-servicio-1 img:nth-child(2){
        position: absolute;
        left: -20px;
        width: 150px;
        top: -10px;
    }

    .contenedor-services-n .content-eleccion-servicio-2{
        width: 100%;
    }   
}
