
.content-services-1{
    width: 100%;
    display: flex;
    height: 650px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content-services-1 .services ul li select{
    font-family: 'Verdana', sans-serif;
    font-size: 15px;
    border: 2px solid #253743 !important;
    color: #1b262e !important;
    background: #fff;
}

.content-services-1 .services:nth-child(1){
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.content-services-1 .services:nth-child(1) div{
    width: 90%;
    opacity: 0.8;
}

.content-services-1 .services:nth-child(1) div p{
    width: 100%;
    height: 100%;
    background: #000000;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    font-size: 20px;
}

.content-services-1 .services:nth-child(1) h1, h2{
    color: #fff;
    font-family: 'Staatliches', cursive;
    text-shadow: black 0.08em 0.08em 0.1em;
    width: 90%;
}

.content-services-1 .services:nth-child(1) h1{
    font-size: 3em;
}

.content-services-1 .services:nth-child(1) h2{
    font-size: 2em;
    text-align: center;
}

.content-services-1 .services:nth-child(2){
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-services-1 .services:nth-child(2) ul{
    width: 70%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-services-1 .services:nth-child(2) ul li{
    list-style: none;
    position: relative;
}

.content-services-1 .services:nth-child(2) ul li:nth-child(1) select, .content-services-1 .services:nth-child(2) ul li:nth-child(2) select{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #253743;
    padding: 17px;
    background: rgb(236, 231, 231);
    color: #222222;
    width: 280px;
}

.content-services-1 .services:nth-child(2) ul li button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 10px 30px;
    letter-spacing: 3px;
    color: #fff;
    background: #222222;
    border: 2px solid #000000;
    cursor: pointer;
    width: 280px;
    padding: 17px;
}


.content-services-1 img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.content-services-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 100px;
}

.content-services-2 .services{
    border: 3px solid #727875;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 550px;
    min-width: 550px;
    height: 280px;
    background: #f1dfea;
    box-shadow:  5px 5px 6px #5a5a5a,
             -5px -5px 6px #ffffff;
}

.content-services-2 .services .services-1, .content-services-2 .services .services-2{
    width: 48%;
    height: 95%;
}

.content-services-2 .services .services-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-services-2 .services .services-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-services-2 .services .services-1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 33%;

}

.content-services-2 .services .services-1 div:nth-child(1){
    border-bottom: 3px solid #727875;
}

.content-services-2 .services .services-1 div:nth-child(1) p{
    text-align: center;
    text-transform: uppercase;
}

.content-services-2 .services .services-2 img{
    width: 95%;
    height: 95%;
    filter: contrast(1.6);
    border: 2px solid #727875;
}

/*Botón Services*/

.btn-services {
    background: #FBCA1F;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    padding: 10px;
    text-decoration: none;
    color: #000000;
}
   
.btn-services:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    background: #e87e1b;
}
   
.btn-services:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}


